// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,300;0,500;1,100;1,300;1,500&family=Roboto+Mono:ital,wght@0,100;0,300;0,500;1,100;1,300;1,500&display=swap');
// Define fonts for body and headers
$body-font:'Be Vietnam Pro', sans-serif;
$headers-font: 'Roboto Mono', monospace;
// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

$p-font: 14px;
$h2-font: 20px;
$h1-font: 28px;

$p-weight: 300;
$h2-weight: 500;
$h1-weight: 500;
