<% content_for :meta_title, "Histoires d'Artisans s'associe au Centre International du Vitrail" %>
<% content_for :meta_description, "Pour fêter le lancement de ce partenariat, Histoires d’Artisans a créé un jeu concours autour du projet de l'Écrin à l'Écran pour gagner un cours, un atelier ou une formation au métier de vitrailliste au sein du CIV." %>
<% content_for :meta_image, "PartenariatCIV.jpg" %>

<div class="w-full bg-cover h-72 lg:h-128 bg-center" style="background-image: url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1683888052/HdA/Partenaires/CIV/Partenaire_CIV_1_vmkujy.jpg);">
    <div class="flex items-center justify-center h-full w-full bg-beige bg-opacity-50">
        <div class="text-center">
            <h1 class="text-green text-6xl font-monospace lg:text-3xl font-bold uppercase">
              Centre International du Vitrail
              <br> &
              <br> Histoires d'Artisans
            </h1>
        </div>
    </div>
</div>

<div class='lg:px-28 px-6 mx-auto'>
  <h2 class="text-6xl lg:text-2xl font-bold font-monospace text-green my-6">
    Histoires d'Artisans organise un jeu concours avec le
    <a href="https://www.centre-vitrail.org/fr/" target="_blank">Centre International du Vitrail</a>
  </h2>

  <div class="grid grid-cols-1 items-center justify-items-center lg:flex lg:flex-row lg:justify-between lg:py-6">
    <div class="lg:w-3/5">
      <h3 class="text-5xl lg:text-xl font-bold font-monospace text-green my-6">
        [ LE PROJET SOUTENU ]
      </h3>
      <p class="text-4xl lg:text-base font-sans my-3">
        De l'Ecrin à l'Ecran est un projet d'application, développé par le <%= link_to 'CIV', articleciv_path, class:"underline decoration-green" %>, pour permettre aux visiteurs de la Cathédrale de Chartres de lire
        et comprendre les histoires derrière les vitraux.
      </p>
      <p class="text-4xl lg:text-base font-sans my-3">
        Pour être développée, l'application réalise actuellement un appel aux dons.
      </p>
      <p class="text-4xl lg:text-base font-sans my-3">
        Vous aussi, devenez mécène d'un projet qui promeut, valorise et participe à la conservation du savoir-faire autour du vitrail.
      </p>
    </div>
  </div>

  <div class="grid grid-cols-1 items-center justify-items-center lg:flex lg:flex-row lg:justify-between lg:py-6">
    <div class="lg:w-3/5">
      <h3 class="text-5xl lg:text-xl font-bold font-monospace text-green my-6">
        [ INFOS DU JEU CONCOURS ]
      </h3>
      <p class="text-4xl lg:text-base font-sans my-3">
        Pour participer au jeu concours, vous devez :
      </p>
      <ol class="list-decimal text-green list-inside text-4xl lg:text-base font-sans my-3">
        <li>
          Faire un don pour soutenir la réalisation du projet de l'Ecrin à l'Ecran
        </li>
        <li>
          Lors de  l’étape 2, dans les “<i>Informations complémentaires</i>” inscrire Histoires d’Artisans dans le champ : “<i>Si vous nous avez trouvé grâce à un partenaire merci d'indiquer son nom pour bénéficier du tirage au sort dédié</i>”
        </li>
        <li>
          Le 1er juillet 2023, à la fin du jeu concours, un tirage au sort aura lieu parmi les donateurs pour gagner un des lots indiqué selon le seuil atteint.
        </li>
      </ol>
      <a href="https://drive.google.com/file/d/1lxCtozopbfNHy3_QN3S_bx8-qvedZFiX/view" target="_blanck" class="text-4xl lg:text-base font-sans my-3 hover:text-orange text-green">Lire le règlement</a>
      <div class="grid grid-cols-1 justify-items-center items-center py-6 lg:flex lg:flex-row lg:justify-around">
        <a
          href="https://www.helloasso.com/associations/centre-international-du-vitrail/collectes/de-l-ecrin-a-l-ecran#tickets"
          target="_blank"
          class="m-3 block rounded-sm bg-orange hover:bg-green hover:text-beige text-beige font-bold text-4xl font-sans text-center py-4 px-20 lg:text-base ">
          Donateur particulier
        </a>
        <a
          href="mailto:mecenat@centre-vitrail.org
                ?subject=Mécénat Entreprise - de l'Écrin à l'Écran - Histoires d'Artisans
                &body=Bonjour,%0D%0AJe vous contacte en tant qu'entreprise, dans le cadre du partenariat de l'Écrin à l'Écran avec Histoires d'Artisans.%0D%0ANom : XX,%0D%0AAdresse : XX,%0D%0AMail : XX,%0D%0ATéléphone : XX,%0D%0ASIRET : XX,%0D%0ASIREN de l'entreprise : XX.%0D%0ANom, prénom et mail du responsable : XX.%0D%0AJe souhaiterais faire un don d'une valeur de XX € // Je souhaiterais être appelé par le responsable du mécénat pour une demande de contrepartie spécifique.%0D%0AMerci"
          target="_blank"
          class="m-3 block rounded-sm bg-orange hover:bg-green hover:text-beige text-beige font-bold text-4xl font-sans text-center py-4 px-20 lg:text-base">
          Donateur entreprise
        </a>
      </div>
    </div>
    <div class="px-4 grid justify-items-center lg:w-2/5">
      <img
        src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1684513809/HdA/Partenaires/CIV/Paliers_Partenariat_CIV_Site_zmgrrj.png"
        class="object-cover lg:h-96 "
        alt="Lots partenariats Centre International du Vitrail et Histoires d'Artisans">
    </div>
  </div>

  <div class="grid grid-cols-1 items-center justify-items-center lg:flex lg:flex-row lg:justify-between lg:py-6">
    <img
      src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1684767168/HdA/Partenaires/CIV/Avantages_Partenariat_CIV_gvcwyk.png"
      class="object-cover lg:h-96"
      alt="Avantages partenariats Centre International du Vitrail et Histoires d'Artisans">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/hQNCtZnLKyo?controls=0"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen>
    </iframe>
  </div>

</div>
