<div class="w-full bg-cover bg-center" style="height:32rem; background-image: url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1683888052/HdA/Partenaires/Partenaire_CIV_1_vmkujy.jpg);">
    <div class="flex items-center justify-center h-full w-full bg-gray-900 bg-opacity-50">
        <div class="text-center">
            <h1 class="text-beige text-6xl md:text-4xl lg:text-2xl font-monospace lg:text-3xl">Le Centre International du Vitrail</h1>
        </div>
    </div>
</div>
