<div class="w-full bg-cover h-72 lg:h-128 bg-center" style="background-image: url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1683888052/HdA/Partenaires/Partenaire_CIV_1_vmkujy.jpg);">
    <div class="flex items-center justify-center h-full w-full bg-beige bg-opacity-50">
        <div class="text-center">
            <h1 class="text-green text-6xl font-monospace lg:text-3xl font-bold uppercase">Le Centre International du Vitrail</h1>
        </div>
    </div>
</div>

<div class='lg:px-28 px-2 mx-auto'>
  <div class="my-3">
    <h2 class="text-6xl lg:text-2xl font-bold font-monospace text-green my-6">
      Histoires d'Artisans est partenaire du
      <a href="https://www.centre-vitrail.org/fr/" target="_blank">Centre International du Vitrail de Chartres</a>
    </h2>
    <p class="text-4xl lg:text-base font-sans my-3">
      Histoires d'Artisans organise un <strong>jeu concours</strong> pour soutenir le projet de l'Écrin à l'Écran du <a href="https://www.centre-vitrail.org/fr/" target="_blank" class="text-orange">Centre International du Vitrail</a>.
    </p>
    <p class="text-4xl lg:text-base font-sans my-3">
      Cette future application mêle <strong>nouvelles technologies</strong> et <strong>savoir-faire</strong> et répond à
      un enjeu primordial pour la sauvegarde de notre patrimoine : archiver et transmettre le savoir.
      Grâce à cet outil innovant, les générations futures pourront comprendre l’Histoire de ce métier fascinant.
    </p>

    <div class="grid grid-cols-1 lg:flex lg:flex-row items-center">
      <div class="">
        <h3 class="text-5xl md:text-2xl lg:text-xl font-bold font-monospace text-green my-6">
          Histoires d’Artisans s’est donné pour mission de défendre l’innovation dans les métiers d’art
        </h3>

        <p class="text-4xl lg:text-base font-sans my-3">
          C’est pourquoi notre association s’est associée à cette institution du monde du vitrail pour faire exister cet outil jugé indispensable pour <strong>conserver notre patrimoine</strong>
          et <strong>former aux techniques ancestrales</strong>.
        </p>
        <p class="text-4xl lg:text-base font-sans my-3">
          Chaque don associé à Histoires d'Artisans vous donnera droit :
        </p>

        <ul class="list-inside list-disc">
          <li class="text-green text-4xl lg:text-base font-sans my-3">
            Aux contreparties du don associé
          </li>
          <li class="text-green text-4xl lg:text-base font-sans my-3">
            A l’inscription automatique pour le tirage au sort du <strong>jeu concours</strong> organisé par Histoires d’Artisans jusqu'au <strong>1er juillet 2023 à 18h</strong>.
            Pour cela il vous faudra référencer Histoires d’Artisans en tant que partenaire.
          </li>
          <li class="text-green text-4xl lg:text-base font-sans my-3">
            7% de l'ensemble des dons effectués par notre communauté sera reversé à Histoires d'Artisans.
          </li>
        </ul>
      </div>
      <div>
        <p class="text-4xl lg:text-base font-sans my-3">
          <strong>Lots</strong> du jeu concours en fonction des seuils atteints par la communauté Histoires d’Artisans :
        </p>

        <div class="grid justify-items-center">
          <img
            src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1684488941/HdA/Partenaires/Lots_Partenariat_CIV_lrqbol.png"
            class="object-cover h-96 "
            alt="Lots partenariats Centre International du Vitrail et Histoires d'Artisans">
        </div>
      </div>
    </div>


  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 my-4">
      <div class="flex flex-col justify-self-center px-4 col-6  w-full">
          <a
            href="https://www.helloasso.com/associations/centre-international-du-vitrail/collectes/de-l-ecrin-a-l-ecran#tickets"
            target="_blank"
            class="rounded-sm bg-orange hover:bg-green hover:text-beige text-beige font-bold mx-5 text-4xl lg:text-base font-sans text-center py-2 px-4">
            Donnateur particulier
          </a>
      </div>

      <div class="flex flex-col justify-self-center px-4 col-6  w-full">
          <a
            href="mailto:mecenat@centre-vitrail.org
                  ?subject=Mécénat Entreprise - de l'Écrin à l'Écran - Histoires d'Artisans
                  &body=Bonjour,%0D%0AJe vous contacte en tant qu'entreprise, dans le cadre du partenariat de l'Écrin à l'Écran avec Histoires d'Artisans.%0D%0ANom : XX,%0D%0AAdresse : XX,%0D%0AMail : XX,%0D%0ATéléphone : XX,%0D%0ASIRET : XX,%0D%0ASIREN de l'entreprise : XX.%0D%0ANom, prénom et mail du responsable : XX.%0D%0AJe souhaiterais faire un don d'une valeur de XX € // Je souhaiterais être appelé par le responsable du mécénat pour une demande de contrepartie spécifique.%0D%0AMerci"
            target="_blank"
            class="rounded-sm bg-orange hover:bg-green hover:text-beige text-beige font-bold mx-5 text-4xl lg:text-base font-sans text-center py-2 px-4 ">
            Donnateur entreprise
          </a>
      </div>
  </div>

    <div class="grid grid-cols-1 justify-items-center items-center lg:flex lg:flex-row lg:justify-center lg:py-6">
      <div>
        <h3 class="text-5xl md:text-2xl lg:text-xl font-bold font-monospace text-green my-6">
          L'IA au coeur du projet de l'Écrin à l'Écran
        </h3>
        <p class="lg:w-2/3 text-4xl lg:text-base font-sans my-3">
          Le Centre international du Vitrail, un lieu dédié à la culture et à la technique du verre, du vitrail et de la lumière à Chartres,
          a développé un projet novateur : de l'Écrin à l'Écran.
        </p>
        <p class="lg:w-2/3 text-4xl lg:text-base font-sans my-3">
          Il vise à offrir aux visiteurs de la cathédrale de Chartres un outil interactif et éducatif permettant de découvrir
          et comprendre les récits fascinants racontés par les vitraux. L'application, gratuite et disponible en trois langues
          (français, anglais, allemand), utilise <strong>l'intelligence artificielle</strong>,
          pour permettre aux visiteurs de scanner les vitraux à l'aide de leur smartphone, et d'accéder à des informations détaillées sur les
          histoires représentées. L'objectif principal de ce projet est de préserver et transmettre le savoir ancestral raconté par les vitraux
          et de le rendre accessible à un large public, notamment aux jeunes générations.
        </p>
      </div>
      <div class=" px-4 grid justify-items-center">
        <img
          src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1683888052/HdA/Partenaires/Partenaire_CIV_2_zryfzi.jpg"
          class="object-cover w-128"
          alt="Cathédrale de Chartres">
      </div>
    </div>
    </div>

    <div>
      <div class="grid justify-items-center">
        <p class="text-4xl lg:text-base font-sans my-3">
          Un petit mot de Stéphane Bern, notre chouchou du patrimoine
        </p>
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/x6cQrEL1ouM"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>
