<div class="w-full bg-cover h-128 bg-center" style="background-image: url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1694079461/HdA/Partenaires/CIV/Partenaire_CIV_CreditsHistoiresDartisans_Cathedrale1_ixwngx.jpg);">
    <div class="flex items-center justify-center h-full w-full bg-beige bg-opacity-80">
        <div class="text-center lg:px-28 px-2 mx-auto">
            <h1 class=" max-w-5xl mx-auto">
              Histoires d'Artisans et le Centre International du Vitrail : Une Alliance pour la transmission, l'innovation et les savoir-Faire
            </h1>
        </div>
    </div>
</div>

<!-- Main Content -->
<div class="lg:px-28 p-2 mx-auto">
  <div class="max-w-5xl mx-auto">

    <!-- Introduction -->
    <p class="mb-8">
      <a class="hover:text-orange" href="https://www.loutilenmain.fr/">Le Centre International du Vitrail, véritable joyau de l'artisanat et de la créativité, a formé une alliance exceptionnelle avec Histoires d'Artisans, une association dédiée à la célébration de l'excellence artisanale. Cette collaboration unique met en lumière leur engagement commun envers la transmission, l'innovation et le savoir-faire, offrant ainsi une perspective fascinante sur l'union de deux mondes de l'artisanat.
    </p>

    <!-- Image 1 -->
    <div class="mb-8 w-full h-[600px]">
      <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1694079459/HdA/Partenaires/CIV/Partenaire_CIV_CreditsHistoiresDartisans_Atelier2_rrjcln.jpg" alt="Verre de vitraux - Histoires d'Artisans chez Le Centre International du Vitrail" class="rounded-sm shadow-lg w-full h-full object-cover">
    </div>

    <!-- Centre International du Vitrail : gardien de la tradition et de l'innovation -->
    <div class="mb-8">
      <h2 class=" mb-4">Centre International du Vitrail : gardien de la tradition et de l'innovation</h2>
      <p class="">
        Au cœur de cette alliance, le Centre International du Vitrail se tient comme un gardien de l'art ancestral du vitrail, tout en embrassant les possibilités de l'innovation contemporaine.
    </div>


    <!-- La Transmission : Un Patrimoine Intouchable -->
    <div class="mb-8">
      <h2 class=" mb-4">La Transmission : Un Patrimoine Intouchable</h2>
      <p class="">
        Le Centre International du Vitrail, tout comme Histoires d'Artisans, partage une profonde conviction envers la transmission du savoir-faire. Le vitrail est un art ancestral, imprégné d'histoires et de traditions transmises de génération en génération. Au sein du Centre, les maîtres artisans partagent leur expertise, préservant ainsi une tradition qui a traversé les âges.
      </p>
    </div>

    <!-- Image 2 -->
    <div class="mb-8 w-full h-[600px]">
      <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1694079458/HdA/Partenaires/CIV/Partenaire_CIV_CreditsHistoiresDartisans_Atelier6_otogj1.jpg" alt="Etape de la peinture sur verre dans le vitrail - Histoires d'Artisans chez Le Centre International du Vitrail" class="rounded-sm shadow-lg w-full h-full object-cover">
    </div>

    <!-- L'Innovation : tradition renouvelée -->
    <div class="mb-8">
      <h2 class=" mb-4">L'Innovation : tradition renouvelée</h2>
      <p class="">
        Ce qui distingue le Centre International du Vitrail est sa capacité à marier habilement tradition et innovation. Les maîtres du vitrail ne se contentent pas de suivre le chemin tracé par leurs prédécesseurs. Ils explorent constamment de nouvelles techniques, matériaux et formes pour créer des œuvres contemporaines qui incarnent l'héritage tout en étant résolument modernes.
      </p>
    </div>

    <!-- Image 3 -->
    <div class="mb-8 w-full h-[600px]">
      <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1694079458/HdA/Partenaires/CIV/Partenaire_CIV_CreditsHistoiresDartisans_Atelier3_kekaeh.jpg" alt="Assemblage d'un vitrail - Histoires d'Artisans chez Le Centre International du Vitrail" class="rounded-sm shadow-lg w-full h-full object-cover">
    </div>

    <!-- L'Alliance Entre Deux Mondes de l'Artisanat -->
    <div class="mb-84">
      <h2 class=" mb-4">L'Alliance Entre Deux Mondes de l'Artisanat</h2>
      <p class="">
        Le partenariat entre le Centre International du Vitrail et Histoires d'Artisans est un témoignage de la puissance de la collaboration entre des entités qui partagent des valeurs fondamentales.
      </p>
    </div>

    <!-- Image 4 -->
    <div class="mb-8 w-full h-[600px]">
      <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1694079459/HdA/Partenaires/CIV/Partenaire_CIV_CreditsHistoiresDartisans_Atelier5_axqmfy.jpg" alt="Sélection du patron de vitrail - Histoires d'Artisans chez Le Centre International du Vitrail" class="rounded-sm shadow-lg w-full h-full object-cover">
    </div>

    <!-- La transmission : révéler l'artisan en chacun de nous -->
    <div class="mb-8">
      <h2 class=" mb-4">La transmission : révéler l'artisan en chacun de nous</h2>
      <p class="">
        En unissant leurs forces, ces deux acteurs donnent naissance à une série d'articles, de vidéos et de reportages captivants qui mettent en avant l'art du vitrail et les maîtres artisans qui le perpétuent. Cette collaboration vise à transmettre la connaissance et la passion pour le vitrail à un public plus vaste. Elle ouvre également la porte à une nouvelle génération d'artisans, inspirés par l'excellence et la tradition du Centre International du Vitrail.
      </p>
    </div>

    <!-- Image 5 -->
    <div class="mb-8 w-full h-[600px]">
      <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1694079460/HdA/Partenaires/CIV/Partenaire_CIV_CreditsHistoiresDartisans_Atelier4_wu7s8r.jpg" alt="Patron de vitrail - Histoires d'Artisans chez Le Centre International du Vitrail" class="rounded-sm shadow-lg w-full h-full object-cover">
    </div>

    <!-- L'Innovation : Un dialogue inspirant -->
    <div class="mb-8">
      <h2 class=" mb-4">L'Innovation : Un dialogue inspirant </h2>
      <p class="">
        Ce partenariat unique encourage également un dialogue passionnant entre la tradition artisanale et l'innovation. En travaillant ensemble, le Centre International du Vitrail et Histoires d'Artisans explorent les possibilités infinies qui se présentent lorsque le passé et le présent se rencontrent. Les artisans de vitrail, porteurs de cette tradition séculaire, trouvent dans cette collaboration une opportunité de repousser les limites de leur art, tout en honorant son héritage.
      </p>
    </div>

    <!-- Ensemble, nous avons agi ! -->
    <div class="mb-8">
      <h2 class=" mb-4">Ensemble, nous avons agi !</h2>
      <p class="">
        Histoires d'Artisans soutient le projet <%= link_to "De l'Écrin à l'Écran", articleciv_path, class:"hover:text-orange" %> développé par Le Centre International du Vitrail
      </p>

    </div>

<!-- Image 6 -->
    <div class="mb-8 w-full h-[600px]">
      <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1694079457/HdA/Partenaires/CIV/Partenaire_CIV_CreditsHistoiresDartisans_Musee1_kec3hg.jpg" alt="Cive, disque de verre, au musée du Vitrail de Chartres - Histoires d'Artisans chez Le Centre International du Vitrail" class="rounded-sm shadow-lg w-full h-full object-cover">
    </div>

    <!-- Conclusion -->
      <p class="">
        L'alliance entre le Centre International du Vitrail et Histoires d'Artisans incarne la puissance de la créativité et du patrimoine artisanal. Ensemble, ils créent une synergie exceptionnelle, préservant la tradition tout en la réinventant pour les générations futures. Cette collaboration est une ode à l'art de l'artisanat, à la beauté intemporelle du vitrail, et à la possibilité de révéler l'artiste en chacun de nous.
      </p>
      <p class="">
        Elle illustre également que l'artisanat, qu'il soit ancien ou contemporain, peut être une source inépuisable d'inspiration et de découverte. Le Centre International du Vitrail et Histoires d'Artisans nous rappellent que l'artisanat est une passerelle vers notre histoire collective et notre avenir créatif, et que ces deux mondes de l'artisanat sont prêts à continuer à nous émerveiller et à nous enrichir.
      </p>
    <p class=" mb-8">
      Envie de vous engager ? Le Centre International du Vitrail récolte des dons pour leur projet <%= link_to "De l'Écrin à l'Écran. Cliquez ici pour en savoir plus", articleciv_path, class:"hover:text-orange" %></p>
    <div class="mb-8">
      <h2 class=" mb-4">Retrouvez-les en ligne</h2>
      <div class="flex flex-col md:flex-row justify-between">
        <p class=" mb-8">
          <a class="hover:text-orange" href="https://www.centre-vitrail.org/fr/">Site Internet</a>
        </p>
        <p class=" mb-8">
          <a class="hover:text-orange" href="https://www.facebook.com/groups/museeduvitrail">Facebook</a>
        </p>
        <p class=" mb-8">
          <a class="hover:text-orange" href="https://www.instagram.com/vitrail28/">Instagram</a>
        </p>
        <p class=" mb-8">
          <a class="hover:text-orange" href="https://www.linkedin.com/company/mus%C3%A9e-du-vitrail-de-chartres/">LinkedIn</a>
        </p>
        <p class=" mb-8">
          <a class="hover:text-orange" href="https://twitter.com/CentreVitrail">Twitter</a>
        </p>
      </div>
    </div>


  </div>
</div>
