<div class="w-full bg-cover h-72 lg:h-128 bg-center" style="background-image: url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1683888052/HdA/Partenaires/Partenaire_CIV_1_vmkujy.jpg);">
    <div class="flex items-center justify-center h-full w-full bg-beige bg-opacity-50">
        <div class="text-center">
            <h1 class="text-green text-6xl font-monospace lg:text-3xl font-bold uppercase">Le Centre International du Vitrail</h1>
        </div>
    </div>
</div>

<div class='lg:px-12 px-2 mx-auto'>
  <div class="my-3">
    <h2 class="text-6xl lg:text-2xl font-bold font-monospace text-green my-6">
      Histoires d'Artisans est partenaire du
      <a href="https://www.centre-vitrail.org/fr/" target="_blank">Centre International du Vitrail de Chartres</a>
    </h2>

    <div class="grid grid-cols-1 justify-items-center items-center lg:flex lg:flex-row lg:justify-center lg:py-6">
      <p class="lg:w-2/3 text-3xl lg:text-base font-sans my-3">
        Le Centre international du Vitrail, pôle culturel et technique du verre, du vitrail et de la lumière installé à Chartres, a imaginé, <strong>De l’Ecrin à L’Ecran</strong>, un outil pour
        découvrir, expliquer, sauvegarder et transmettre les histoires racontées par les vitraux de la cathédrale de Chartres. L'application, basée sur l'intelligence artificielle,
        permettra aux visiteurs de scanner les vitraux avec leur téléphone ou leur tablette pour accéder à des informations détaillées sur les histoires racontées.
        Le projet a pour objectif de sauvegarder le savoir issu des vitraux et de le transmettre au plus grand nombre, en particulier aux jeunes générations.
        L'outil sera gratuit, disponible en trois langues (français, anglais, allemand) et accessible à tous.
      </p>
      <div class=" px-4 grid justify-items-center">
        <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1683888052/HdA/Partenaires/Partenaire_CIV_2_zryfzi.jpg" class="object-cover w-128" alt="Cathédrale de Chartres">
      </div>
    </div>

    <div class="grid grid-cols-1 justify-items-center items-center lg:flex lg:flex-row lg:justify-center lg:py-6">
      <div class="lg:w-2/3">
        <h3 class="text-4xl md:text-2xl lg:text-xl font-bold font-monospace text-green my-6">
          Ce projet se divise en trois étapes :
        </h3>
        <ol class="list-inside list-decimal">
          <li class="text-green text-3xl lg:text-base font-sans my-3">
            Développer l’application permettant de lire et de raconter les vitraux en utilisant des innovations technologiques,
            comme l'intelligence artificielle.
            Elle ne nécessitera pas de matériel particulier ni d'installation impossible à mettre en place sur des bâtiments classés au Patrimoine Mondial.
          </li>
          <li class="text-green text-3xl lg:text-base font-sans my-3">
            Créer une encyclopédie du vitrail accessible au sein du musée. Les visiteurs pourront approfondir leur compréhension des vitraux et de l'histoire racontée.
          </li>
          <li class="text-green text-3xl lg:text-base font-sans my-3">
            Créer une base de données en Open source regroupant l’ensemble des informations concernant les vitraux de la cathédrale.
            Cela comprendra des informations sur la fabrication des vitraux, sur les scènes qu’ils représentent, sur le savoir-faire des maîtres vitraillistes pour les rénover.
            Le souhait est notamment d’attirer les plus jeunes vers ce métier.
            Ainsi, le Centre International du Vitrail sera en mesure de diffuser la culture du vitrail auprès des écoles et des musées.
          </li>
        </ol>
      </div>
      <div class=" px-4 grid justify-items-center">
        <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1683887737/HdA/Partenaires/EcrinEcran_CIV_1_ykvoo2.jpg" class="object-cover h-128" alt="Application de l'Ecrin à l'Ecran">
      </div>
    </div>

    <div class="grid grid-cols-1 justify-items-center items-center lg:flex lg:flex-row lg:justify-center lg:py-6">
      <div class="">
        <h3 class="text-4xl md:text-2xl lg:text-xl font-bold font-monospace text-green my-6">
          Histoires d’Artisans s’est donné pour mission de défendre l’innovation dans les métiers d’art
        </h3>
        <p class="text-3xl lg:text-base font-sans my-3">
          Le projet De l'Ecrin à l'Ecran, développé par le <a href="https://www.centre-vitrail.org/fr/" class="text-orange">Centre International du Vitrail</a>,
          mêle <strong>nouvelles technologies</strong> et <strong>savoir-faire</strong> et répond à un enjeu primordial pour la sauvegarde de notre patrimoine : archiver et transmettre le savoir.
          Grâce à cet outil innovant, les générations futures pourront comprendre l’Histoire de ce métier fascinant.
        </p>
        <p class="text-3xl lg:text-base font-sans my-3">
          C’est pourquoi Histoires d’Artisans s’est associé à cette institution du monde du vitrail pour faire exister cet outil jugé indispensable pour <strong>conserver notre patrimoine</strong>
          et <strong>former aux techniques ancestrales</strong>.
        </p>
        <p class="text-3xl lg:text-base font-sans my-3">
          Chaque don associé à Histoires d'Artisans vous donnera droit :
        </p>

        <ul class="list-inside list-disc">
          <li class="text-green text-3xl lg:text-base font-sans my-3">
            Aux contreparties du don associé
          </li>
          <li class="text-green text-3xl lg:text-base font-sans my-3">
            A l’inscription automatique pour le tirage au sort du <strong>jeu concours</strong> organisé par Histoires d’Artisans jusqu'au <strong>25 juin 2023 à 18h</strong>.
            Pour cela il vous faudra référencer Histoires d’Artisans en tant que partenaire.
          </li>
        </ul>
      </div>

      <div class="px-4">
        <p class="text-3xl lg:text-base font-sans my-3">
          <strong>Lots</strong> du jeu concours en fonction des seuils atteints par la communauté Histoires d’Artisans :
        </p>

        <div class="grid justify-items-center">
          <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1684135925/HdA/Partenaires/Partenaire_CIV_Lots_ap13ey.png" class="object-cover h-96 lg:h-full" alt="Lots partenariats Centre International du Vitrail et Histoires d'Artisans">
        </div>
      </div>
    </div>


  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 my-4">
      <div class="flex flex-col justify-self-center px-4 col-6  w-full">
          <a
            href="https://www.helloasso.com/associations/centre-international-du-vitrail/collectes/de-l-ecrin-a-l-ecran#tickets"
            target="_blank"
            class="rounded-sm bg-orange hover:bg-green hover:text-beige text-beige font-bold mx-5 text-3xl lg:text-base font-sans text-center py-2 px-4">
            Donnateur particulier
          </a>
      </div>

      <div class="flex flex-col justify-self-center px-4 col-6  w-full">
          <a
            href="mailto:mecenat@centre-vitrail.org
                  ?subject=Mécénat Entreprise - de l'Ecrin à l'Ecran - Histoires d'Artisans
                  &body=Bonjour,%0D%0AJe vous contacte en tant qu'entreprise, dans le cadre du partenariat de l'Ecrin à l'Ecran avec Histoires d'Artisans.%0D%0ANom : XX,%0D%0AAdresse : XX,%0D%0AMail : XX,%0D%0ATéléphone : XX,%0D%0ASIRET : XX,%0D%0ASIREN de l'entreprise : XX.%0D%0ANom, prénom et mail du responsable : XX.%0D%0AJe souhaiterais faire un don d'une valeur de XX € // Je souhaiterais être appelé par le responsable du mécénat pour une demande de contrepartie spécifique.%0D%0AMerci"
            target="_blank"
            class="rounded-sm bg-orange hover:bg-green hover:text-beige text-beige font-bold mx-5 text-3xl lg:text-base font-sans text-center py-2 px-4 ">
            Donnateur entreprise
          </a>
      </div>
  </div>



    <div>
      <p class="text-3xl lg:text-base font-sans my-3">
        Le Centre International du Vitrail reverse également 7% de l'ensemble des dons effectués par la communauté Histoires d'Artisans à notre association.
      </p>
      <div class="grid justify-items-center">
        <p class="text-3xl lg:text-base font-sans my-3">
          Un petit mot de Stéphane Bern, notre chouchou du patrimoine
        </p>
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/x6cQrEL1ouM"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>
