<div class="w-full bg-cover h-128 bg-center" style="background-image: url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1693682722/HdA/Partenaires/L%27Outil%20en%20Main/LOeM_Bettencourt_Atelier_PIM33_m4zzaa.png);">
    <div class="flex items-center justify-center h-full w-full bg-beige bg-opacity-80">
        <div class="text-center lg:px-28 px-2 mx-auto">
            <h1 class="max-w-5xl mx-auto text-green text-6xl font-monospace lg:text-3xl font-bold uppercase">
              L'Outil en Main France et Histoires d'Artisans s'associent pour sensibiliser aux métiers d'art
            </h1>
        </div>
    </div>
</div>

<!-- Main Content -->
<div class="lg:px-28 p-2 mx-auto">
  <div class="max-w-5xl mx-auto">

    <!-- Introduction -->
    <p class="text-green text-4xl lg:text-xl mb-8">
      <a class="hover:text-orange" href="https://www.loutilenmain.fr/">L'Outil en Main France</a> et Histoires d'Artisans s'associent pour sensibiliser aux métiers d'art et promouvoir l'artisanat en France. Chez Histoires d'Artisans, nous sommes fiers de vous présenter notre tout nouveau partenaire, L'Outil en Main France. Cette collaboration reflète notre engagement en faveur de la promotion des métiers manuels, de l'artisanat et du patrimoine, ainsi que notre désir de contribuer à la transmission intergénérationnelle.
    </p>

    <!-- Image 1 -->
    <div class="mb-8 w-full h-[600px]">
      <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1693578743/HdA/Partenaires/L%27Outil%20en%20Main/LOeM_Bettencourt_Atelier_PIM_1_y26re6.png" alt="Image 1" class="rounded-sm shadow-lg w-full h-full object-cover">
    </div>

    <!-- Initiation aux métiers manuels dès 9 ans -->
    <div class="mb-8">
      <h2 class="text-6xl lg:text-3xl text-green mb-4">Initiation aux métiers manuels dès 9 ans</h2>
      <p class="text-green text-4xl lg:text-xl">
        L'association <a class="hover:text-orange" href="https://www.facebook.com/loutilenmainFR/">L'Outil en Main France</a> France accueille les jeunes à partir de 9 ans, sans limite d'âge, dans ses ateliers répartis dans toute la France. Les jeunes ont la possibilité de s'initier à une variété de métiers manuels, allant du vitrail à la pâtisserie en passant par la couture. Cette expérience ludique permet aux jeunes de créer des œuvres dont ils seront fiers, tout en recevant un certificat d'initiation en fin d'année. L'objectif est de révéler des talents et de susciter des vocations parmi la jeunesse.
    </div>


    <!-- Transmission par des bénévoles passionnés -->
    <div class="mb-8">
      <h2 class="text-6xl lg:text-3xl text-green mb-4">Transmission par des bénévoles passionnés</h2>
      <p class="text-green text-4xl lg:text-xl">
        Les ateliers de L'Outil en Main France se déroulent dans de véritables espaces de travail équipés d'outils authentiques. Les jeunes sont encadrés par des bénévoles expérimentés, souvent issus de métiers artisanaux, qui partagent leur passion et leur savoir-faire. Cette transmission des connaissances est essentielle pour maintenir vivante la tradition des métiers manuels et renforcer les liens intergénérationnels.
      </p>
    </div>

    <!-- Image 2 -->
    <div class="mb-8 w-full h-[600px]">
      <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1693578742/HdA/Partenaires/L%27Outil%20en%20Main/LOeM_Bettencourt_Atelier_PIM_5_b9npd9.png" alt="Image 2" class="rounded-sm shadow-lg w-full h-full object-cover">
    </div>

    <!-- Diversité des métiers manuels -->
    <div class="mb-8">
      <h2 class="text-6xl lg:text-2xl font-bold text-green mb-4">Diversité des métiers manuels</h2>
      <p class="text-green text-4xl lg:text-xl">
        L'Outil en Main France s'engage à valoriser tous les métiers manuels, avec plus de 100 professions représentées dans ses ateliers. Que ce soit la menuiserie, la maçonnerie, la coiffure, la bijouterie ou d'autres métiers, chaque atelier offre une opportunité unique de découvrir l'intelligence de la main. Tous les enfants vont dans tous les ateliers. À L’Outil en Main, seule compte la personne, fille ou garçon, qui va réaliser, dans tous les ateliers, un chef-d’œuvre.
      </p>
    </div>

    <!-- Image 3 -->
    <div class="mb-8 w-full h-[600px]">
      <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1693578743/HdA/Partenaires/L%27Outil%20en%20Main/LOeM_Bettencourt_Atelier_PIM_4_iav7ye.png" alt="Image 3" class="rounded-sm shadow-lg w-full h-full object-cover">
    </div>

    <!-- Le témoignage de notre partenaire -->
    <div class="mb-84">
      <h2 class="text-6xl lg:text-2xl font-bold text-green mb-4">Le témoignage de notre partenaire</h2>
      <p class="text-green text-4xl lg:text-xl">
        Alain Ananos, Président de <a class="hover:text-orange" href="https://www.instagram.com/loutilenmainfrance/">L'Outil en Main France</a> France, exprime la philosophie de l'association : "La main et le geste sont une des clés de la compréhension du monde. Comprendre son environnement, faire sens et lien entre les générations, avec persévérance." Cette vision est partagée par les bénévoles de l'association, qui s'engagent à transmettre leurs savoirs tout en apprenant des jeunes. Ensemble, ils explorent de nouveaux horizons et ouvrent la voie à de futurs possibles.
      </p>
    </div>

    <!-- Image 4 -->
    <div class="mb-8 w-full h-[600px]">
      <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1693578743/HdA/Partenaires/L%27Outil%20en%20Main/LOeM_Bettencourt_Atelier_PIM_3_qpszkz.png" alt="Image 4" class="rounded-sm shadow-lg w-full h-full object-cover">
    </div>

    <!-- L'impact positif de L'Outil en Main -->
    <div class="mb-8">
      <h2 class="text-6xl lg:text-2xl font-bold text-green mb-4">L'impact positif de L'Outil en Main France</h2>
      <p class="text-green text-4xl lg:text-xl">
        L'association contribue à l'amélioration de l'orientation des jeunes, à la valorisation des métiers manuels, à la transmission des savoir-faire, et à la promotion du "bien vieillir" grâce à l'engagement bénévole des retraités. De plus, <a class="hover:text-orange" href="https://www.linkedin.com/company/l-outil-en-main-france/?originalSubdomain=fr">L'Outil en Main France</a> innove en introduisant de nouveaux publics et en s'associant à des initiatives liées à l'économie circulaire et à la transition écologique.
      </p>
      <p class="text-green text-4xl lg:text-xl">
        Nous sommes ravis de collaborer avec L'Outil en Main France et de soutenir leur mission visant à préserver et à promouvoir les métiers manuels et l'artisanat. Cette initiative contribue à la richesse de notre patrimoine culturel et à la formation des artisans de demain.         La promotion des métiers manuels et de l'artisanat est essentielle pour préserver notre héritage culturel et promouvoir la créativité au sein de la jeunesse française. L'Outil en Main France joue un rôle crucial dans cet effort en offrant aux jeunes l'opportunité de découvrir et de s'initier à une multitude de métiers artisanaux.
      </p>
    </div>

    <!-- L'impact local de L'Outil en Main -->
    <div class="mb-8">
      <h2 class="text-6xl lg:text-2xl font-bold text-green mb-4">L'impact local de L'Outil en Main France</h2>
      <p class="text-green text-4xl lg:text-xl">
        Avec des ateliers présents dans toute la France, <a class="hover:text-orange" href="https://twitter.com/loutilenmainFR">L'Outil en Main France</a> permet aux enfants de développer leurs compétences et leur créativité tout en recevant une formation pratique. Cette expérience enrichissante suscite des vocations et encourage les jeunes à explorer des carrières dans les métiers manuels, qu'il s'agisse de la menuiserie, de la maçonnerie, de la coiffure, de la bijouterie ou d'autres disciplines.
      </p>
      <p class="text-green text-4xl lg:text-xl">
        Les bénévoles de L'Outil en Main France jouent un rôle fondamental en partageant leur expertise avec les jeunes générations. Leur engagement et leur passion pour les métiers manuels contribuent à renforcer les liens intergénérationnels et à transmettre des savoir-faire précieux.
      </p>
      <p class="text-green text-4xl lg:text-xl">
        La diversité des métiers manuels représentés dans les ateliers de L'Outil en Main France est impressionnante. Les jeunes ont l'opportunité de découvrir des métiers traditionnels ainsi que des disciplines plus contemporaines. Tous les enfants sont encouragés à explorer différents domaines et à réaliser leurs propres chefs-d'œuvre, quels que soient leur sexe ou leur origine.
      </p>
    </div>

    <!-- Image 5 -->
    <div class="mb-8 w-full h-[600px]">
      <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1693578743/HdA/Partenaires/L%27Outil%20en%20Main/LOeM_Bettencourt_Atelier_PIM_2_klbqzg.png" alt="Image 5" class="rounded-sm shadow-lg w-full h-full object-cover">
    </div>

    <!-- Conclusion -->
      <p class="text-green text-4xl lg:text-xl">
        Nous sommes convaincus que cette collaboration avec L'Outil en Main France renforcera notre mission commune de sensibilisation aux métiers d'art et à l'artisanat. Ensemble, nous contribuons à la richesse de notre patrimoine culturel et à la formation des artisans de demain.
      </p>
      <p class="text-green text-4xl lg:text-xl">
        La préservation des métiers manuels est essentielle pour assurer la continuité de notre patrimoine artisanal et encourager l'innovation dans ce domaine. Avec L'Outil en Main France, nous sommes fiers de jouer un rôle actif dans la transmission de ces compétences précieuses aux jeunes générations.
      </p>
    <p class="text-green text-4xl lg:text-xl mb-8">
      Envie de vous engager ? L'Outil en Main recrute des bénévoles dans les antennes locales. Rejoignez-les dans cette aventure passionnante et faites la différence dans la vie des jeunes, tout en préservant notre héritage artisanal. Ensemble, façonnez un avenir où les métiers d'art et l'artisanat continuent d'épanouir la créativité et l'excellence en France.</p>
    <div class="mb-8">
      <h2 class="text-6xl lg:text-2xl font-bold text-green mb-4">Retrouvez-les en ligne</h2>
      <div class="flex flex-col md:flex-row justify-between">
        <p class="text-green text-4xl lg:text-xl mb-8">
          <a class="hover:text-orange" href="https://www.loutilenmain.fr/">Site Internet</a>
        </p>
        <p class="text-green text-4xl lg:text-xl mb-8">
          <a class="hover:text-orange" href="https://www.facebook.com/loutilenmainFR/">Facebook</a>
        </p>
        <p class="text-green text-4xl lg:text-xl mb-8">
          <a class="hover:text-orange" href="https://www.instagram.com/loutilenmainfrance/">Instagram</a>
        </p>
        <p class="text-green text-4xl lg:text-xl mb-8">
          <a class="hover:text-orange" href="https://www.linkedin.com/company/l-outil-en-main-france/?originalSubdomain=fr">LinkedIn</a>
        </p>
        <p class="text-green text-4xl lg:text-xl mb-8">
          <a class="hover:text-orange" href="https://twitter.com/loutilenmainFR">Twitter</a>
        </p>
      </div>
    </div>
  </div>

</div>
