<% content_for :meta_title, "Histoires d'Artisans s'associe au Centre International du Vitrail" %>
<% content_for :meta_description, "Pour fêter le lancement de ce partenariat, Histoires d’Artisans a créé un jeu concours autour du projet de l'Écrin à l'Écran pour gagner un cours, un atelier ou une formation au métier de vitrailliste au sein du CIV." %>
<% content_for :meta_image, "PartenariatCIV.jpg" %>

<div class="w-full bg-cover h-128 bg-center" style="background-image: url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1683888052/HdA/Partenaires/CIV/Partenaire_CIV_1_vmkujy.jpg);">
    <div class="flex items-center justify-center h-full w-full bg-beige bg-opacity-50">
        <div class="text-center">
            <h1 class="text-green text-6xl font-monospace lg:text-3xl font-bold uppercase">
              Centre International du Vitrail
              <br> &
              <br> Histoires d'Artisans
            </h1>
        </div>
    </div>
</div>

<div class='lg:px-28 px-2 mx-auto'>
  <h2 class="text-6xl lg:text-2xl font-bold font-monospace text-green my-6">
    Histoires d'Artisans signe un partenariat avec le
    <a href="https://www.centre-vitrail.org/fr/" target="_blank">Centre International du Vitrail</a>
  </h2>
  <div class="my-3 grid grid-cols-1 justify-items-center items-center lg:flex lg:flex-row lg:justify-center lg:py-6">
    <div class="grid justify-items-center lg:w-2/5">
      <img
        src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1684766741/HdA/Partenaires/CIV/Partenaire_CIV_Atelier_3_aznlzq.jpg"
        class="object-cover h-96"
        alt="Atelier Centre International du Vitrail">
    </div>
    <div class="lg:w-3/5 px-3">
      <p class="text-4xl lg:text-base font-sans my-3">
        Cette signature de partenariat est le début d’une grande histoire entre deux associations
        qui ont l’envie commune de faire connaître les histoires du travail des artisans d’hier et d’aujourd’hui.
      </p>
      <ul class="list-disc text-green list-inside text-4xl lg:text-base font-sans my-3">
        <li>
          L’histoire de verre, de pigment, de feu et de plomb qui ont créé des écrans vieux de plus de 800 ans.
        </li>
        <li>
          L’histoire de femmes et d’hommes qui depuis des siècles mettent leurs savoir-faire au service des autres pour susciter l'émerveillement.
        </li>
        <li>
          L’histoire de technologies pour innover, expliquer et transmettre.
        </li>
      </ul>
      <p class="text-4xl lg:text-base font-sans my-3">
        Pour fêter le lancement de ce partenariat, Histoires d’Artisans a créé un
        <a
          href="https://drive.google.com/file/d/1lxCtozopbfNHy3_QN3S_bx8-qvedZFiX/view"
          target="_blanck"
          class="text-4xl lg:text-base font-sans my-3 hover:text-orange text-green">
          <strong>jeu concours</strong> (lire le règlement)
        </a>
          autour du projet de l'Écrin à l'Écran. L’occasion pour vous de gagner un cours, un atelier ou une formation
          au métier de vitrailliste au sein du CIV.
      </p>
      <p class="font-bold text-4xl lg:text-base font-sans my-3">
        De l'Écrin à l'Écran est une application qui permettra aux visiteurs de la Cathédrale de Chartres de lire les histoires
        racontées par les vitraux.
      </p>
    </div>
  </div>

  <div class="grid grid-cols-1 justify-items-center items-center lg:flex lg:flex-row lg:justify-center lg:py-6">
    <div class="lg:w-3/5">
      <h3 class="text-5xl lg:text-xl font-bold font-monospace text-green my-6">
        [ INFOS CONCOURS ]
      </h3>
      <ol class="list-decimal text-green list-inside text-4xl lg:text-base font-sans my-3">
        <li>
          Vous faites un don pour soutenir la réalisation du projet du CIV
        </li>
        <li>
          Lors de  l’étape 2, dans les “<i>Informations complémentaires</i>” inscrivez Histoires d’Artisans dans le champ : “<i>Si vous nous avez trouvé grâce à un partenaire merci d'indiquer son nom pour bénéficier du tirage au sort dédié</i>”
        </li>
        <li>
          Le 1er juillet 2023, à la fin du jeu concours, un tirage au sort aura lieu parmi les donateurs pour gagner un des lots indiqué ci-contre selon le seuil atteint.
        </li>
      </ol>
      <a href="https://drive.google.com/file/d/1lxCtozopbfNHy3_QN3S_bx8-qvedZFiX/view" target="_blanck" class="text-4xl lg:text-base font-sans my-3 hover:text-orange text-green">Lire le règlement</a>
      <div class="grid grid-cols-1 justify-items-center items-center py-6 lg:flex lg:flex-row lg:justify-around">
        <a
          href="https://www.helloasso.com/associations/centre-international-du-vitrail/collectes/de-l-ecrin-a-l-ecran#tickets"
          target="_blank"
          class="my-3 block rounded-sm bg-orange hover:bg-green hover:text-beige text-beige font-bold text-4xl font-sans text-center py-4 px-8 lg:text-base ">
          Donateur particulier
        </a>
        <a
          href="mailto:mecenat@centre-vitrail.org
                ?subject=Mécénat Entreprise - de l'Écrin à l'Écran - Histoires d'Artisans
                &body=Bonjour,%0D%0AJe vous contacte en tant qu'entreprise, dans le cadre du partenariat de l'Écrin à l'Écran avec Histoires d'Artisans.%0D%0ANom : XX,%0D%0AAdresse : XX,%0D%0AMail : XX,%0D%0ATéléphone : XX,%0D%0ASIRET : XX,%0D%0ASIREN de l'entreprise : XX.%0D%0ANom, prénom et mail du responsable : XX.%0D%0AJe souhaiterais faire un don d'une valeur de XX € // Je souhaiterais être appelé par le responsable du mécénat pour une demande de contrepartie spécifique.%0D%0AMerci"
          target="_blank"
          class="my-3 block rounded-sm bg-orange hover:bg-green hover:text-beige text-beige font-bold text-4xl font-sans text-center py-4 px-8 lg:text-base">
          Donateur entreprise
        </a>
      </div>
    </div>

    <div class="px-4 grid justify-items-center lg:w-2/5">
      <img
        src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1684513809/HdA/Partenaires/CIV/Paliers_Partenariat_CIV_Site_zmgrrj.png"
        class="object-cover lg:h-96 "
        alt="Lots partenariats Centre International du Vitrail et Histoires d'Artisans">
    </div>
  </div>

    <div class="grid grid-cols-1 justify-items-center items-center lg:flex lg:flex-row lg:justify-center lg:py-6">
      <img
        src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1684767168/HdA/Partenaires/CIV/Avantages_Partenariat_CIV_gvcwyk.png"
        class="object-cover lg:h-96 px-6"
        alt="Avantages partenariats Centre International du Vitrail et Histoires d'Artisans">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/hQNCtZnLKyo?controls=0"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen>
      </iframe>
    </div>

  <div class="grid grid-cols-1 justify-items-center items-center lg:flex lg:flex-row lg:justify-center lg:py-6">
    <div class="hidden lg:block lg:w-2/5 px-4 grid justify-items-center">
      <img
        src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1684766738/HdA/Partenaires/CIV/Partenaire_CIV_Atelier_2_bja7qo.jpg"
        class="object-cover h-96"
        alt="Cathédrale de Chartres">
    </div>
    <div class="lg:w-3/5">
      <h3 class="text-5xl lg:text-xl font-bold font-monospace text-green my-6">
        Histoires d’Artisans au service de l’innovation
      </h3>
      <p class="text-4xl lg:text-base font-sans my-3">
        Histoires d’Artisans s’est donné pour mission de défendre l’innovation dans les métiers d’art. Cette innovation prend différentes formes. Innover dans ses techniques de fabrication, innover en faisant évoluer des savoir-faire d’antan ou innover en utilisant les nouvelles technologies.
      </p>
      <p class="text-4xl lg:text-base font-sans my-3">
        L’impression 3D et les outils numériques ont souvent été abordés dans la conception. De l'Écrin à l'Écran s’intéresse aux bénéfices du numérique dans la préservation et le maintien de nos connaissances artisanales.
      </p>
      <p class="text-4xl lg:text-base font-sans my-3">
        C’est pourquoi notre association s’est associée à cette institution du monde du vitrail et l’accompagne aujourd’hui pour faire exister cet outil indispensable pour notre patrimoine et former aux techniques ancestrales.
      </p>
    </div>
    <div class="lg:hidden lg:w-2/5 px-4 grid justify-items-center">
      <img
        src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1684766738/HdA/Partenaires/CIV/Partenaire_CIV_Atelier_2_bja7qo.jpg"
        class="object-cover h-96"
        alt="Cathédrale de Chartres">
    </div>
  </div>

  <div class="grid grid-cols-1 justify-items-center items-center lg:flex lg:flex-row lg:justify-center lg:py-6">
    <div class="lg:w-3/5">
      <p class="text-4xl lg:text-base font-sans my-3">
        Au-delà de soutenir un métier d’art, grâce à vos dons vous participerez à ce projet d’envergure qui œuvre pour le bien de notre héritage. Par curiosité, nous avons demandé à Chat GPT de nous donner une anecdote sur les vitraux français. Voici sa réponse :
      </p>
      <p class="text-4xl lg:text-base font-sans my-3 italic">
        L'une des plus célèbres collections de vitraux en France se trouve dans la cathédrale Notre-Dame de Chartres, située dans la région de la Vallée de la Loire. Cette cathédrale gothique est renommée pour ses magnifiques vitraux qui datent en grande partie du XIIIe siècle.
      </p>
      <p class="text-4xl lg:text-base font-sans my-3 italic">
        L'anecdote concerne le vitrail dit "Le Bleu de Chartres". Il s'agit d'un vitrail représentant la Vierge Marie et l'enfant Jésus. Ce vitrail, d'un bleu profond et éclatant, est considéré comme l'un des chefs-d'œuvre de l'art du vitrail français.
      </p>
      <p class="text-4xl lg:text-base font-sans my-3 italic">
        Lors de la Seconde Guerre mondiale, afin de protéger les vitraux de la cathédrale des bombardements, les habitants de Chartres ont pris l'initiative audacieuse de les démonter et de les mettre en sécurité. Les vitraux ont été soigneusement démontés, numérotés et emballés, puis évacués de la cathédrale. Grâce à cette action préventive, la plupart des vitraux ont été préservés et ont survécu à la guerre.
      </p>
      <p class="text-4xl lg:text-base font-sans my-3 italic">
        Après la fin de la guerre, les vitraux ont été restaurés et remis en place dans la cathédrale. Aujourd'hui, les visiteurs peuvent admirer ces vitraux exceptionnels, dont le fameux "Bleu de Chartres", qui continue de fasciner par sa beauté et sa luminosité.
      </p>
      <p class="text-4xl lg:text-base font-sans my-3 italic">
        Cette anecdote met en évidence l'engagement des habitants de Chartres à préserver leur patrimoine culturel précieux, même dans des circonstances difficiles. Les vitraux de la cathédrale de Chartres représentent ainsi une partie importante de l'histoire de l'art du vitrail en France.
      </p>
      <p class="text-4xl lg:text-base font-sans my-3">
        Vous aussi, participez à la préservation de ce patrimoine culturel précieux.
      </p>
    </div>
    <div class="lg:w-2/5 px-4 grid justify-items-center">
      <img
        src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1683887737/HdA/Partenaires/CIV/EcrinEcran_CIV_1_ykvoo2.jpg"
        class="object-cover h-96"
        alt="Application l'Ecrin à l'Ecran">
    </div>
  </div>

  <div class="grid grid-cols-1 justify-items-center items-center lg:flex lg:flex-row lg:justify-center lg:py-6">
    <div class="lg:w-3/5">
      <h3 class="text-5xl lg:text-xl font-bold font-monospace text-green my-6">
        Le Centre international du Vitrail entre savoirs séculaires et innovation
      </h3>
      <p class="text-4xl lg:text-base font-sans my-3">
        Le Centre international du Vitrail a lancé un appel au don pour réaliser le projet de l'Écrin à l'Écran composé de trois outils pour faire  découvrir, expliquer et transmettre l’art du Vitrail à Chartres.
      </p>
      <p class="text-4xl lg:text-base font-sans my-3">
        Le premier est une application d’intelligence artificielle pour expliquer les histoires racontées par les vitraux dans la cathédrale de Chartres aux visiteurs.
      </p>
      <p class="text-4xl lg:text-base font-sans my-3">
        Le second est une salle numérique au sein du musée du CIV pour permettre à chacun de naviguer dans les vitraux pour en découvrir chaque détail et comprendre comment ils ont été fabriqués.
      </p>
      <p class="text-4xl lg:text-base font-sans my-3">
        Le troisième est une base de données qui sera accessible à distance comprenant des textes, images et vidéos sur le vitrail chartrain qui permettra aux écoles, professionnels, universitaires, chercheurs … de disposer d’informations pour transmettre ce savoir millénaire et créer des outils pédagogiques.
      </p>
      <p class="text-4xl lg:text-base font-sans my-3">
        Grâce à ces outils innovants, les générations futures pourront comprendre l’Histoire de ce métier fascinant.
      </p>
    </div>
    <div class="lg:w-2/5 px-4 grid justify-items-center">
      <img
        src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1684766737/HdA/Partenaires/CIV/Partenaire_CIV_Atelier_1_gsjxam.jpg"
        class="object-cover h-96"
        alt="Atelier Centre International du Vitrail">
    </div>
  </div>

    <div>
      <div class="grid justify-items-center">
        <p class="text-4xl lg:text-base font-sans my-3">
          Un petit mot de Stéphane Bern, notre chouchou du patrimoine, à propos du projet de l'Écrin à l'Écran.
        </p>
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/x6cQrEL1ouM"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>
