<% content_for :meta_title, "Histoires d'Artisans s'associe au Centre International du Vitrail" %>
<% content_for :meta_description, "Pour fêter le lancement de ce partenariat, Histoires d’Artisans a créé un jeu concours autour du projet de l'Écrin à l'Écran pour gagner un cours, un atelier ou une formation au métier de vitrailliste au sein du CIV." %>
<% content_for :meta_image, "PartenariatCIV.jpg" %>

<div class="w-full bg-cover h-128 bg-center" style="background-image: url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1683888052/HdA/Partenaires/CIV/Partenaire_CIV_1_vmkujy.jpg);">
    <div class="flex items-center justify-center h-full w-full bg-beige bg-opacity-80">
        <div class="text-center lg:px-28 px-2 mx-auto">
            <h1 class="max-w-5xl mx-auto text-green text-6xl font-monospace lg:text-3xl font-bold uppercase">
              Histoires d'Artisans soutient le projet De l'Écrin à l'Écran développé par Le Centre International du Vitrail
            </h1>
        </div>
    </div>
</div>

<!-- Main Content -->
<div class="lg:px-28 p-2 mx-auto">
  <div class="max-w-5xl mx-auto">

    <!-- Introduction -->
    <p class="text-green text-4xl lg:text-xl mb-8">
      Dans le monde de l'artisanat et des métiers d'art, chaque œuvre est le résultat d'une fusion magique entre tradition et innovation. C'est dans cet esprit que Histoires d'Artisans et Le Centre International du Vitrail se sont unis pour célébrer et promouvoir l'excellence artistique qui transcende les générations. Ce partenariat unique met en lumière l'importance de l'artisanat, du savoir-faire et de l'innovation dans le monde des métiers d'art.
    </p>

    <!-- Image 1 -->
    <div class="mb-8 w-full h-[600px]">
      <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1684766741/HdA/Partenaires/CIV/Partenaire_CIV_Atelier_3_aznlzq.jpg" alt="Atelier Centre International du Vitrail" class="rounded-sm shadow-lg w-full h-full object-cover">
    </div>

    <!-- Transmission par des bénévoles passionnés -->
    <div class="mb-8">
      <h2 class="text-6xl lg:text-3xl text-green mb-4">De l'Écrin à l'Écran : l'application de lecture des vitraux</h2>
      <p class="text-green text-4xl lg:text-xl">
        Cette signature de partenariat est le début d’une grande histoire entre deux associations qui ont l’envie commune de faire connaître les histoires du travail des artisans d’hier et d’aujourd’hui.      </p>
      <ul class="list-disc text-green list-inside text-4xl lg:text-base font-sans my-3">
        <li>
          L’histoire de verre, de pigment, de feu et de plomb qui ont créé des écrans vieux de plus de 800 ans.
        </li>
        <li>
          L’histoire de femmes et d’hommes qui depuis des siècles mettent leurs savoir-faire au service des autres pour susciter l'émerveillement.
        </li>
        <li>
          L’histoire de technologies pour innover, expliquer et transmettre.
        </li>
      </ul>
      <p class="text-green text-4xl lg:text-xl">
        De l'Écrin à l'Écran est une application qui permettra aux visiteurs de la Cathédrale de Chartres de lire les histoires racontées par les vitraux.
      </p>
    </div>

    <!-- Image 2 -->
    <div class="flex h-[600px] justify-center mb-8">
      <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1683887737/HdA/Partenaires/CIV/EcrinEcran_CIV_1_ykvoo2.jpg" alt="Application l'Ecrin à l'Ecran" class="rounded-sm shadow-lg h-full object-cover">
    </div>

    <!-- Diversité des métiers manuels -->
    <div class="mb-8">
      <h2 class="text-6xl lg:text-2xl font-bold text-green mb-4">Soutenez le projet</h2>
      <p>Envie de soutenir le projet De l'Écrin à l'Écran ? Faites un don !</p>
      <ol class="list-decimal text-green list-inside text-4xl lg:text-base font-sans my-3">
        <li>
          Vous faites un don pour soutenir la réalisation du projet du CIV
        </li>
        <li>
          Lors de  l’étape 2, dans les “<i>Informations complémentaires</i>” inscrivez Histoires d’Artisans dans le champ : “<i>Si vous nous avez trouvé grâce à un partenaire merci d'indiquer son nom pour bénéficier du tirage au sort dédié</i>”
        </li>
      </ol>
      <div class="grid grid-cols-1 justify-items-center items-center py-6 lg:flex lg:flex-row lg:justify-around">
        <a
          href="https://www.helloasso.com/associations/centre-international-du-vitrail/collectes/de-l-ecrin-a-l-ecran#tickets"
          target="_blank"
          class="my-3 block rounded-sm bg-orange hover:bg-green hover:text-beige text-beige font-bold text-4xl font-sans text-center py-4 px-8 lg:text-base ">
          Donateur particulier
        </a>
        <a
          href="mailto:mecenat@centre-vitrail.org
                ?subject=Mécénat Entreprise - de l'Écrin à l'Écran - Histoires d'Artisans
                &body=Bonjour,%0D%0AJe vous contacte en tant qu'entreprise, dans le cadre du partenariat de l'Écrin à l'Écran avec Histoires d'Artisans.%0D%0ANom : XX,%0D%0AAdresse : XX,%0D%0AMail : XX,%0D%0ATéléphone : XX,%0D%0ASIRET : XX,%0D%0ASIREN de l'entreprise : XX.%0D%0ANom, prénom et mail du responsable : XX.%0D%0AJe souhaiterais faire un don d'une valeur de XX € // Je souhaiterais être appelé par le responsable du mécénat pour une demande de contrepartie spécifique.%0D%0AMerci"
          target="_blank"
          class="my-3 block rounded-sm bg-orange hover:bg-green hover:text-beige text-beige font-bold text-4xl font-sans text-center py-4 px-8 lg:text-base">
          Donateur entreprise
        </a>
    </div>

    <!-- Image 3 -->
    <div class="mb-8 w-full h-[600px]">
      <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1684766738/HdA/Partenaires/CIV/Partenaire_CIV_Atelier_2_bja7qo.jpg" alt="Atelier enfant Le Centre International du Vitrail" class="rounded-sm shadow-lg w-full h-full object-cover">
    </div>

    <!-- Histoires d’Artisans, l'association au service de l’innovation -->
    <div class="mb-84">
      <h2 class="text-6xl lg:text-2xl font-bold text-green mb-4">Histoires d’Artisans, l'association au service de l’innovation</h2>
      <p class="text-green text-4xl lg:text-xl">
        Histoires d’Artisans s’est donné pour mission de défendre l’innovation dans les métiers d’art. Cette innovation prend différentes formes. Innover dans ses techniques de fabrication, innover en faisant évoluer des savoir-faire d’antan ou innover en utilisant les nouvelles technologies.
      </p>
      <p class="text-green text-4xl lg:text-xl">
        L’impression 3D et les outils numériques ont souvent été abordés dans la conception. De l'Écrin à l'Écran s’intéresse aux bénéfices du numérique dans la préservation et le maintien de nos connaissances artisanales.
      </p>
      <p class="text-green text-4xl lg:text-xl">
        C’est pourquoi notre association s’est associée à cette institution du monde du vitrail et l’accompagne aujourd’hui pour faire exister cet outil indispensable pour notre patrimoine et former aux techniques ancestrales.
      </p>
    </div>

    <!-- Image 4 -->
    <div class="mb-8 w-full h-[600px]">
      <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1684766737/HdA/Partenaires/CIV/Partenaire_CIV_Atelier_1_gsjxam.jpg" alt="Atelier Centre International du Vitrail" class="rounded-sm shadow-lg w-full h-full object-cover">
    </div>

    <!-- L'Intelligence artificielle et l'artisanat -->
    <div class="mb-8">
      <h2 class="text-6xl lg:text-2xl font-bold text-green mb-4">L'Intelligence artificielle et l'artisanat</h2>
      <p class="text-green text-4xl lg:text-xl">
        Au-delà de soutenir un métier d’art, grâce à vos dons vous participerez à ce projet d’envergure qui œuvre pour le bien de notre héritage. Par curiosité, nous avons demandé à Chat GPT de nous donner une anecdote sur les vitraux français. Voici sa réponse :
      </p>
      <p class="text-green text-4xl lg:text-xl">
        L'une des plus célèbres collections de vitraux en France se trouve dans la cathédrale Notre-Dame de Chartres, située dans la région de la Vallée de la Loire. Cette cathédrale gothique est renommée pour ses magnifiques vitraux qui datent en grande partie du XIIIe siècle.
      </p>
      <p class="text-green text-4xl lg:text-xl">
        L'anecdote concerne le vitrail dit "Le Bleu de Chartres". Il s'agit d'un vitrail représentant la Vierge Marie et l'enfant Jésus. Ce vitrail, d'un bleu profond et éclatant, est considéré comme l'un des chefs-d'œuvre de l'art du vitrail français.
      </p>
      <p class="text-green text-4xl lg:text-xl">
        Lors de la Seconde Guerre mondiale, afin de protéger les vitraux de la cathédrale des bombardements, les habitants de Chartres ont pris l'initiative audacieuse de les démonter et de les mettre en sécurité. Les vitraux ont été soigneusement démontés, numérotés et emballés, puis évacués de la cathédrale. Grâce à cette action préventive, la plupart des vitraux ont été préservés et ont survécu à la guerre.
      </p>
      <p class="text-green text-4xl lg:text-xl">
        Après la fin de la guerre, les vitraux ont été restaurés et remis en place dans la cathédrale. Aujourd'hui, les visiteurs peuvent admirer ces vitraux exceptionnels, dont le fameux "Bleu de Chartres", qui continue de fasciner par sa beauté et sa luminosité.
      </p>
      <p class="text-green text-4xl lg:text-xl">
        Cette anecdote met en évidence l'engagement des habitants de Chartres à préserver leur patrimoine culturel précieux, même dans des circonstances difficiles. Les vitraux de la cathédrale de Chartres représentent ainsi une partie importante de l'histoire de l'art du vitrail en France.
      </p>
      <p class="text-green text-4xl lg:text-xl">
        Vous aussi, participez à la préservation de ce patrimoine culturel précieux.
      </p>
    </div>

    <!-- Le Centre international du Vitrail entre savoirs séculaires et innovation -->
    <div class="mb-8">
      <h2 class="text-6xl lg:text-2xl font-bold text-green mb-4">Le Centre international du Vitrail entre savoirs séculaires et innovation</h2>
      <p class="text-green text-4xl lg:text-xl">
        Le Centre international du Vitrail a lancé un appel au don pour réaliser le projet de l'Écrin à l'Écran composé de trois outils pour faire découvrir, expliquer et transmettre l’art du Vitrail à Chartres.
      </p>
      <p class="text-green text-4xl lg:text-xl">
        Le premier est une application d’intelligence artificielle pour expliquer les histoires racontées par les vitraux dans la cathédrale de Chartres aux visiteurs.
      </p>
      <p class="text-green text-4xl lg:text-xl">
        Le second est une salle numérique au sein du musée du CIV pour permettre à chacun de naviguer dans les vitraux pour en découvrir chaque détail et comprendre comment ils ont été fabriqués.
      </p>
      <p class="text-green text-4xl lg:text-xl">
        Le troisième est une base de données qui sera accessible à distance comprenant des textes, images et vidéos sur le vitrail chartrain qui permettra aux écoles, professionnels, universitaires, chercheurs … de disposer d’informations pour transmettre ce savoir millénaire et créer des outils pédagogiques.
      </p>
      <p class="text-green text-4xl lg:text-xl">
        Grâce à ces outils innovants, les générations futures pourront comprendre l’Histoire de ce métier fascinant.
      </p>
    </div>

    <!-- Image 5 -->
    <div class="mb-8 w-full h-[600px]">
      <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1683888052/HdA/Partenaires/CIV/Partenaire_CIV_2_zryfzi.jpg" alt="Cathédrale de Chartres" class="rounded-sm shadow-lg w-full h-full object-cover">
    </div>


    <div class="mb-8">
      <h2 class="text-6xl lg:text-2xl font-bold text-green mb-4">Un petit mot de Stéphane Bern, notre chouchou du patrimoine, à propos du projet de l'Écrin à l'Écran</h2>
      <div class="flex justify-center mb-8">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/x6cQrEL1ouM"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
        </iframe>
      </div>
    </div>

    <div class="mb-8">
      <h2 class="text-6xl lg:text-2xl font-bold text-green mb-4">Vitrailliste, métier d'art, métier d'innovation. Marie-Thérèse Gouhier nous raconte son métier</h2>
      <div class="flex justify-center mb-8">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/cUNL9mYYBKM"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>

</div>
