<% flash.each do |flash_type, message| %>
  <div class="text-green bg-beige py-[10px] px-[20px] border-solid border-green border-2 rounded-sm lg:text-sm text-3xl animate-fade"
        data-controller='flash-removal'
        data-action='animationend->flash-removal#remove'
        >
    <%= message %>
  </div>
<% end %>
