<div class="footer">
  <div class="footer-links">
    <a href="https://instagram.com/histoiresdartisans/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://facebook.com/histoiresdartisans" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/histoireartisan" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://fr.linkedin.com/company/histoiresdartisans?trk=organization_guest_main-feed-card_feed-reaction-header" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Site web créé par<a href="https://www.linkedin.com/in/lisa-millet" target="_blank">Lisa Millet</a>
  </div>
</div>
