<div class="navbar navbar-expand-sm navbar-light navbar-hda">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dvuyabyaw/image/upload/v1679515700/HdA/Fond%20Beige%20et%20Orange/Beige_Orange_2_edyfmz.jpg" %>
    <% end %>

    <nav>
        <ul>
            <li><a href="#">A propos de nous</a>
            <!-- First Tier Drop Down -->
            <ul>
                <li><a href="#">Qui sommes-nous</a></li>
                <li><a href="#">Nous soutenir</a></li>
                <li><a href="#">Nos actualités</a></li>
              <li><a href="#">Nous contacter</a></li>
            </ul>
            </li>
            <li><a href="#">Le répertoire des artisans</a></li>
            <li><a href="#">Le blog</a></li>
            <li><a href="#">Le podcast</a></li>
        </ul>
    </nav>
  </div>
  </div>
</div>
