<div class="w-full bg-cover bg-center" style="height:32rem; background-image: url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1680886513/HdA/support_eyurup.jpg);">
  <div class="flex items-center justify-center h-full w-full bg-gray-900 bg-opacity-50">
    <div class="text-center">
      <h1 class="text-beige text-2xl font-monospace md:text-3xl">Qui sommes-nous ?</h1>
    </div>
  </div>
</div>

<div class='container md:px-12 mx-auto'>
  <div class="my-3">
    <h2 class="text-2xl mb-3">Nous valorisons l'artisan d'art comme expert en matériaux</h2>
    <p>
      Au-delà de la production, les artisans d'art sont souvent dans un processus de <strong>recherche et de développement</strong>.
      Ils doivent s’adapter à des contraintes et des besoins déterminés par un environnement qui les obligent à <strong>innover</strong> dans les
      procédés, les techniques, les formes d'expression, les designs et les matières.
    </p>
    <p>
      Par ses actions, l'association Histoires d'Artisans s'engage à <strong>valoriser cette ingenierie</strong> qui se naît au sein des ateliers.
    </p>
  </div>

  <h2 class="text-2xl mb-3">Le bureau</h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <div class="max-w-sm bg-orange rounded-sm h-full justify-self-center">
      <a href="https://www.linkedin.com/in/lisa-millet/">
        <img class="rounded-sm" src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1679579353/HdA/Bureau/LisaMillet_g65g2q.jpg" alt="Lisa Millet" />
      </a>
      <div class="p-3">
        <a href="https://www.linkedin.com/in/lisa-millet/">
          <h3 class="mb-2 text-2xl font-bold text-beige">Lisa Millet</h3>
        </a>
        <p class="mb-3 font-sans text-beige">Présidente</p>
        <p class="mb-3 font-sans text-beige">Depuis 2019 Lisa évolue dans le monde de l'artisanat. Elle a choisi de mettre ses compétences au service des ces merveilleux métiers qui la passionnent.</p>
      </div>
    </div>

    <div class="max-w-sm bg-orange rounded-sm h-full justify-self-center">
      <a href="">
        <img class="rounded-sm" src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1679579225/HdA/Bureau/RomainPaillard_lbxq9w.jpg" alt="Romain Paillard" />
      </a>
      <div class="p-3">
        <a href="">
          <h3 class="mb-2 text-2xl font-bold text-beige">Romain Paillard</h3>
        </a>
        <p class="mb-3 font-sans text-beige">Trésorier</p>
        <p class="mb-3 font-sans text-beige">Entrepreneur à succès, Romain aime le beau et le bien-fait. Il oeuvre pour ces femmes et ces hommes talentueux qui innovent chaque jour dans leur métiers.</p>
      </div>
    </div>

    <div class="max-w-sm bg-orange rounded-sm h-full justify-self-center">
      <a href="">
        <img class="rounded-sm" src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1679579290/HdA/Bureau/LucieBaverez_mzwez5.jpg" alt="Lucie Baverez" />
      </a>
      <div class="p-3">
        <a href="">
          <h3 class="mb-2 text-2xl font-bold text-beige">Lucie Baverez</h3>
        </a>
        <p class="mb-3 font-sans text-beige">Secrétaire</p>
        <p class="mb-3 font-sans text-beige">Lucie se passionne du fait-main et de la création. Touche à tout, elle admire ces professionnels qui ont choisi de faire de leur passion un métier.</p>
      </div>
    </div>
  </div>
 </div>
