<div class="w-full bg-cover h-128 bg-center" style="background-image: url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1680886513/HdA/support_eyurup.jpg);">
  <div class="flex items-center justify-center h-full w-full bg-beige bg-opacity-50">
    <div class="text-center">
      <h1 class="">Qui sommes-nous ?</h1>
    </div>
  </div>
</div>

<div class='lg:px-64 px-8 mx-auto my-3'>
  <div class="my-3">
    <h2 class=" my-6">Nous valorisons l'artisan d'art comme expert en matériaux</h2>
    <p class=" my-3">
      Au-delà de la production, les artisans d'art sont souvent dans un processus de <strong>recherche et de développement</strong>.
      Ils doivent s’adapter à des contraintes et des besoins déterminés par un environnement qui les obligent à <strong>innover</strong> dans les
      procédés, les techniques, les formes d'expression, les designs et les matières.
    </p>
    <p class=" my-3">
      Par ses actions, l'association Histoires d'Artisans s'engage à <strong>valoriser cette ingénierie</strong> qui naît au sein des ateliers.
    </p>
  </div>

  <%# Bureau %>
  <h2 class=" my-6">Le bureau</h2>

  <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 px-20">
    <%# Lisa %>
    <div class="bg-orange rounded-sm h-full justify-self-center">
      <a href="https://www.linkedin.com/in/lisa-millet/">
        <img class="h-[400px] object-cover rounded-sm w-full" src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1679579353/HdA/Bureau/LisaMillet_g65g2q.jpg" alt="Lisa Millet" />
      </a>
      <div class="p-3">
        <a href="https://www.linkedin.com/in/lisa-millet/">
          <h3 class="text-beige mb-2">Lisa Millet</h3>
        </a>
        <p class=" mb-3 text-beige">Présidente</p>
        <p class=" mb-3 text-beige">Depuis 2019 Lisa évolue dans le monde de l'artisanat. Elle a choisi de mettre ses compétences au service des ces merveilleux métiers qui la passionnent.</p>
      </div>
    </div>

    <%# Romain %>
    <div class="bg-orange rounded-sm h-full justify-self-center">
      <a href="">
        <img class="h-[400px] object-cover rounded-sm w-full" src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1679579225/HdA/Bureau/RomainPaillard_lbxq9w.jpg" alt="Romain Paillard" />
      </a>
      <div class="p-3">
        <a href="">
          <h3 class="text-beige mb-2">Romain Paillard</h3>
        </a>
        <p class=" mb-3 text-beige">Trésorier</p>
        <p class=" mb-3 text-beige">Entrepreneur à succès, Romain aime le beau et le bien-fait. Il oeuvre pour ces femmes et ces hommes talentueux qui innovent chaque jour dans leur métiers.</p>
      </div>
    </div>

    <%# Lucie %>
    <div class="bg-orange rounded-sm h-full justify-self-center">
      <a href="">
        <img class="h-[400px] object-cover rounded-sm w-full" src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1679579290/HdA/Bureau/LucieBaverez_mzwez5.jpg" alt="Lucie Baverez" />
      </a>
      <div class="p-3">
        <a href="">
          <h3 class="text-beige mb-2">Lucie Baverez</h3>
        </a>
        <p class=" mb-3 text-beige">Secrétaire</p>
        <p class=" mb-3 text-beige">Lucie se passionne du fait-main et de la création. Touche à tout, elle admire ces professionnels qui ont choisi de faire de leur passion un métier.</p>
      </div>
    </div>
  </div>

  <%# Membres %>
  <h2 class="text-green my-6">Les membres</h2>

  <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 px-20">
  <%# Julia %>
    <div class="bg-orange rounded-sm h-full justify-self-center">
      <a href="https://www.linkedin.com/in/julia-barret/">
        <img class="h-[400px] object-cover rounded-sm w-full" src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1694516892/HdA/Bureau/JuliaBarret_ofd76i.jpg" alt="Julia Barret" />
      </a>
      <div class="p-3">
        <a href="https://www.linkedin.com/in/julia-barret/">
          <h3 class="text-beige mb-2">Julia Barret</h3>
        </a>
        <p class=" mb-3 text-beige">Spécialisée en conduite du changement et passionnée par l'artisanat d'art, Julia accompagne l'association dans le développement de projets en lien avec notre mission.</p>
      </div>
    </div>

    <%# Alizée %>
    <div class="bg-orange rounded-sm h-full justify-self-center">
      <a href="https://www.linkedin.com/in/alizee-vallat/">
        <img class="h-[400px] object-cover rounded-sm w-full" src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1694515543/HdA/Bureau/AlizeeVallat_nthqfm.jpg" alt="Alizée Vallat" />
      </a>
      <div class="p-3">
        <a href="https://www.linkedin.com/in/alizee-vallat/">
          <h3 class="text-beige mb-2">Alizée Vallat</h3>
        </a>
        <p class=" mb-3 text-beige">Avocate fiscaliste, Alizée s'est reconvertie dans le développement web. Elle crée à la fois des outils pour les membres ainsi que pour les artisans d'art.</p>
      </div>
    </div>

    <%# Thibault %>
    <div class="bg-orange rounded-sm h-full justify-self-center">
      <a href="https://www.linkedin.com/in/thibault-chassine-772070a5/">
        <img class="h-[400px] object-cover rounded-sm w-full" src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1695407657/HdA/Bureau/ThibaultChassine_uzl2bc.jpg" alt="Thibault Chassine" />
      </a>
      <div class="p-3">
        <a href="https://www.linkedin.com/in/julia-barret/">
          <h3 class="text-beige mb-2">Thibault Chassine</h3>
        </a>
        <p class=" mb-3 text-beige">Après une expérience dans l'hôtellerie, Thibault s'est reconvertie dans le développement web. Il crée à la fois des outils pour la communauté et les clients de l'association.</p>
      </div>
    </div>
  </div>
 </div>
