<div class="w-fullh-128 bg-bottom bg-cover" style="background-image: url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1679584996/HdA/FoteiniPangos_3_sq59au.jpg);">
    <div class="flex items-center justify-center h-full w-full bg-beige bg-opacity-50">
        <div class="text-center">
            <h1 class="text-green text-6xl font-monospace lg:text-3xl font-bold uppercase">Le répertoire des experts</h1>
        </div>
    </div>
</div>

<div class='lg:px-28 px-2 mx-auto my-3'>
  <div class="grid grid-cols-1 gap-4">
    <div class="my-3 flex flex-col items-start px-4 col-12">
      <h2 class="text-6xl lg:text-xl font-bold font-monospace text-green">Histoires d'Artisans référence les artisans d'art français experts dans leur domaine. </h2>
      <p class="text-4xl lg:text-base font-sans mt-3">Cette base de données est en cours de construction. Elle permettra à chaque professionnel de trouver </strong>l'expert</strong> qui pourra <strong>l'accompagner</strong>
      dans le développement de son projet. Ainsi, tout profesionnel qui souhaite <strong >prototyper</strong> ou créer <strong>sur-mesure</strong> pourra bénéficier de ce répertoire.</p>
      <p class="text-4xl lg:text-base font-sans mt-3">Chaque artisan sera accompagné pour fournir un <strong>service client optimal</strong>. </p>
    </div>
  </div>

  <div class="grid grid-cols-1 items-center lg:grid-cols-2 py-6">
      <div class="flex flex-col justify-self-center px-4 col-6  w-full">
          <img
            class="mx-auto object-cover h-96 lg:h-56"
            src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1682446286/HdA/Fond%20Beige%20et%20Orange/Beige_Orange_6_osbtwo.jpg"
            alt="Logo Histoires d'Artisans">
          <h2 class="text-center mb-2 text-6xl lg:text-xl font-bold font-monospace text-green">Vous souhaitez soutenir notre démarche ?</h2>
          <a
            href="https://www.helloasso.com/associations/histoires-d-artisans/formulaires/2"
            target="_blank"
            class="rounded-sm bg-orange hover:bg-green hover:text-beige text-beige font-bold m-5 text-4xl lg:text-base font-sans text-center py-2 px-4">
            Faire un don
          </a>
      </div>

      <div class="flex flex-col justify-self-center px-4 col-6  w-full">
          <img class="mx-auto object-cover h-96 lg:h-56" src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1682446215/HdA/Fond%20Beige%20et%20Orange/Beige_Orange_17_drsdd1.jpg" alt="Logo Histoires d'Artisans">
          <h2 class="text-center mb-2 text-6xl lg:text-xl font-bold font-monospace text-green">Référencez-vous en tant qu'artisan expert</h2>
          <a
            href="https://forms.gle/s3yEwprGjoCvHNba8"
            target="_blank"
            class="rounded-sm bg-orange hover:bg-green hover:text-beige text-beige font-bold m-5 text-4xl lg:text-base font-sans text-center py-2 px-4 ">
            S'inscrire
          </a>
      </div>
  </div>
</div>
