<div class="w-full bg-cover bg-center" style="height:32rem; background-image: url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1679584996/HdA/FoteiniPangos_3_sq59au.jpg);">
    <div class="flex items-center justify-center h-full w-full bg-gray-900 bg-opacity-50">
        <div class="text-center">
            <h1 class="text-beige text-6xl md:text-4xl lg:text-2xl font-monospace lg:text-3xl">Le répertoire des experts</h1>
        </div>
    </div>
</div>

<div class=' lg:px-12 px-6 mx-auto'>
  <div class="grid grid-cols-1 gap-4">
    <div class="my-3 flex flex-col items-start px-4 col-12">
      <h2 class="text-6xl md:text-4xl lg:text-2xl font-bold font-monospace text-green">Histoires d'Artisans référence les artisans d'art français experts dans leur domaine. </h2>
      <p class="text-3xl lg:text-base font-sans mt-3">Cette base de données est en cours de construction. Elle permettra à chaque professionnel de trouver </strong>l'expert</strong> qui pourra <strong>l'accompagner</strong>
      dans le développement de son projet. Ainsi, tout profesionnel qui souhaite <strong >prototyper</strong> ou créer <strong>sur-mesure</strong> pourra bénéficier de ce répertoire.</p>
      <p class="text-3xl lg:text-base font-sans">Chaque artisan sera accompagné pour fournir un <strong>service client optimal</strong>. </p>
    </div>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
      <div class="flex flex-col justify-self-center px-4 col-6  w-full">
          <img
            class="object-cover h-30 w-30"
            src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1682446286/HdA/Fond%20Beige%20et%20Orange/Beige_Orange_6_osbtwo.jpg"
            alt="Logo Histoires d'Artisans">
          <h2 class="text-center mb-2 text-6xl md:text-4xl lg:text-2xl font-bold font-monospace text-green">Vous souhaitez soutenir notre démarche ?</h2>
          <a
            href="https://www.helloasso.com/associations/histoires-d-artisans/formulaires/2"
            target="_blank"
            class="rounded-sm bg-orange hover:bg-green hover:text-beige text-beige font-bold mx-5 text-3xl lg:text-base font-sans text-center py-2 px-4">
            Faire un don
          </a>
      </div>

      <div class="flex flex-col justify-self-center px-4 col-6  w-full">
          <img class="object-cover" src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1682446215/HdA/Fond%20Beige%20et%20Orange/Beige_Orange_17_drsdd1.jpg" alt="Logo Histoires d'Artisans">
          <h2 class="text-center mb-2 text-6xl md:text-4xl lg:text-2xl font-bold font-monospace text-green">Référencez-vous en tant qu'artisan expert</h2>
          <a
            href="https://www.helloasso.com/associations/mineral/formulaires/2/widget"
            target="_blank"
            class="rounded-sm bg-orange hover:bg-green hover:text-beige text-beige font-bold mx-5 text-3xl lg:text-base font-sans text-center py-2 px-4 ">
            S'inscrire
          </a>
      </div>
  </div>

</div>
