<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1679584996/HdA/FoteiniPangos_3_sq59au.jpg);">
  <div class="container">
    <h1>Le répertoire des experts</h1>
    <p>Histoires d'Artisans souhaite référencer les artisans d'art français experts dans leur domaine. </p>
  </div>
</div>

<div class='container'>
  <p>Cette base de données est en cours de construction. Elle permettra à chaque professionnel de trouver l'expert qui pourra l'accompagner dans le développement de son projet. Ainsi, les industriels, designers, architectes, architectes d'intérieur et tous corps de métiers qui souhaitent prototyper ou créer sur-mesure pourront bénéficier de ce répertoire.
  Chaque artisan recevra la visite de notre équipe lors d'un audit pour s'assurer du professionnalisme technique de l'artisan. Chaque artisan sera accompagné pour fournir un service client optimal. </p>
  <div class='row justify-content-around'>
    <div class='col-6 text-center'>
      <p>Vous êtes artian.e ? Inscrivez-vous à la base de données</p>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSfWkom9ZVy4JVt4JXEyJAVzTKvM1v5bfKpwJ9F4ESs9goqUcg/viewform" target="_blank" class="btn btn-orange">S'inscrire</a>
    </div>
    <div class='col-6 text-center'>
      <p>Vous souhaitez soutenir cette démarche ? Faites un don.</p>
      <a href="https://www.helloasso.com/associations/mineral/formulaires/2/widget" target="_blank" class="btn btn-orange">S'inscrire</a>
    </div>
  </div>
</div>
