<div class="row justify-content-md-center">
  <div class="col-6">
    <h1>Bienvenue sur Histoires d'Artisans</h1>
    <h2>Le site de l'association est en construction</h2>
    <p>En attendant retrouvez-nous sur :</p>
    <div class="footer-links mb-2">
      <a href="https://www.instagram.com/histoiresdartisans/"><i class="fab fa-instagram"></i></a>
      <a href="https://fr.linkedin.com/in/lisa-millet"><i class="fab fa-linkedin"></i></a>
      <a href="https://www.facebook.com/histoiresdartisans"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/histoireartisan"><i class="fab fa-twitter"></i></a>
    </div>
    <p>Vous pouvez également écouter les derniers épisodes du podcast : </p>
    <iframe name="Ausha Podcast Player" frameborder="0" loading="lazy" id="ausha-NKVb" height="420" style="border: none; width:100%; height:420px" src="https://player.ausha.co/index.html?showId=yXLgqCXY7D5z&display=horizontal&color=%2300594F&multishow=true&playlist=true&v=3&playerId=ausha-NKVb"></iframe><script src="https://player.ausha.co/ausha-player.js"></script>
    <p>Vous êtes artisan.e ? Inscrivez-vous à botre base de données :</p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfWkom9ZVy4JVt4JXEyJAVzTKvM1v5bfKpwJ9F4ESs9goqUcg/viewform" class='btn btn-green mb-2'>S'inscrire</a>
  </div>
</div>
