<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Histoires d'Artisans</h1>
    <p>L'association qui revalorise le savoir-faire manuel et intellectuel des artisans d’art.</p>
    <a class="btn btn-green" href="#">En savoir plus</a>
  </div>
</div>
