<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1679515250/HdA/AtelierKruttt_ef9zsh.jpg);">
  <div class="container">
    <h1>Histoires d'Artisans</h1>
    <p>L'association qui revalorise le savoir-faire manuel et intellectuel des artisans d’art.</p>
    <a class="btn btn-green" href="#">En savoir plus</a>
  </div>
</div>

<div class="site__wrapper">
      <div class="big-grid">
          <div class="card_grid">
            <div class="card_grid__image">
              <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1679585077/HdA/FoteiniPangos_1_xvb2ov.jpg" alt="">

              <div class="card_grid__overlay card_grid__overlay--green">
                <div class="card_grid__overlay-content">

                  <a href="#0" class="card_grid__title">Le podcast</a>
                </div>
              </div>
            </div>
          </div>
      </div>

      <div class="small-grid">
          <div class="card_grid">
            <div class="card_grid__image">
              <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1679584584/HdA/support_eyurup.jpg" alt="Atelier Studio Desrosiers">

              <div class="card_grid__overlay card_grid__overlay--orange">
                <div class="card_grid__overlay-content">
                  <a href="#0" class="card_grid__title">Nous soutenir</a>
                </div>
              </div>
            </div>
          </div>
      </div>

      <div class="small-grid">
          <div class="card_grid">
            <div class="card_grid__image">
              <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1679911238/AtelierDablanc_bx4ocu.jpg" alt="Atelier de Foteini Pangos">

              <div class="card_grid__overlay card_grid__overlay--green">
                <div class="card_grid__overlay-content">
                  <a href="#0" class="card_grid__title">Le blog</a>
                </div>
              </div>
            </div>
          </div>
      </div>

      <div class="small-grid">
          <div class="card_grid">
            <div class="card_grid__image">
              <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1679584996/HdA/FoteiniPangos_3_sq59au.jpg" alt="Atelier de Foteini Pangos">

              <div class="card_grid__overlay card_grid__overlay--green">
                <div class="card_grid__overlay-content">
                  <a href="#0" class="card_grid__title">Le répertoire des artisans</a>
                </div>
              </div>
            </div>
          </div>
      </div>

      <div class="small-grid">
          <div class="card_grid">
            <div class="card_grid__image">
              <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1679584997/HdA/FoteiniPangos_2_btpanz.jpg" alt="Atelier de Foteini Pangos">
              <div class="card_grid__overlay card_grid__overlay--orange">
                <div class="card_grid__overlay-content">
                  <a href="#0" class="card_grid__title">Nos actualités</a>
                </div>
              </div>
            </div>
          </div>
      </div>
      </div>
</div><!-- @end site__wrapper -->
