<div class="w-full bg-cover h-72 lg:h-128 bg-center" style="background-image: url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1679515250/HdA/AtelierKruttt_ef9zsh.jpg);">
    <div class="flex items-center bg-blend-darken justify-center h-full w-full bg-beige bg-opacity-50">
        <div class="text-center">
            <h1 class="text-green text-6xl md:text-4xl lg:text-2xl font-monospace lg:text-3xl font-bold uppercase ">Histoires d'Artisans</h1>
        </div>
    </div>
</div>

<div class="lg:px-12 px-4 mx-auto my-4">
  <div class="grid grid-cols-1 justify-items-center items-center lg:flex lg:flex-row lg:justify-center lg:py-6">
      <img class="object-cover h-96 lg:h-56" src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1680882647/HdA/Transparents/Orange_Transparent/Orange_10_gpzlzr.png" alt="Logo Histoires d'Artisans">
      <div class="grid grid-cols-1 justify-items-start w-128 mb-3">
          <h2 class="text-6xl md:text-4xl lg:text-2xl font-bold font-sans text-green">Notre mission</h2>
          <p class="text-3xl md:text-xl lg:text-base font-sans mt-3">Valoriser le savoir-faire intellectuel de l'artisan d'art et l'accompagner dans l'innovation.</p>
          <a href="<%= about_path %>" class="text-3xl md:text-xl lg:text-base font-bold font-sans text-green hover:text-orange">En savoir plus</a>
      </div>
  </div>

  <div class="grid grid-cols-1 justify-items-center items-center lg:flex lg:flex-row lg:justify-center lg:py-6">
      <img class="object-cover h-96 lg:h-56" src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1680882766/HdA/Transparents/Orange_Transparent/Orange_19_ryv6dj.png" alt="Logo Histoires d'Artisans">
      <div class="grid grid-cols-1 justify-items-start w-128 mb-3">
          <h2 class="text-6xl md:text-4xl lg:text-2xl font-bold font-sans text-green">Nous soutenir</h2>
          <p class="text-3xl md:text-xl lg:text-base font-sans mt-3">Participez à la mission de l'association grâce à votre don.</p>
          <a href="<%= support_path %>" class="text-3xl md:text-xl lg:text-base font-bold font-sans text-green hover:text-orange">Faire un don</a>
      </div>
  </div>

  <div class="grid grid-cols-1 justify-items-center items-center lg:flex lg:flex-row lg:justify-center lg:py-6">
      <img class="object-cover h-96 lg:h-56" src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1680882829/HdA/Transparents/Orange_Transparent/Orange_9_cckhko.png" alt="Logo Histoires d'Artisans">
      <div class="grid grid-cols-1 justify-items-start w-128 mb-3">
          <h2 class="text-6xl md:text-4xl lg:text-2xl font-bold font-sans text-green">Notre podcast</h2>
          <p class="text-3xl md:text-xl lg:text-base font-sans mt-3">Entrez dans l'atelier d'un artisan d'art pour découvrir son métier, ses créations et son quotidien.</p>
          <a href="<%= podcast_path %>" class="text-3xl md:text-xl lg:text-base font-bold font-sans text-green hover:text-orange">Ecouter</a>
      </div>
  </div>

  <div class="grid grid-cols-1 justify-items-center items-center lg:flex lg:flex-row lg:justify-center lg:py-6">
      <img class="object-cover h-96 lg:h-56" src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1680882903/HdA/Transparents/Orange_Transparent/Orange_13_dnjctd.png" alt="Logo Histoires d'Artisans">
      <div class="grid grid-cols-1 justify-items-start w-128 mb-3">
          <h2 class="text-6xl md:text-4xl lg:text-2xl font-bold font-sans text-green">Notre répertoire d'artisans</h2>
          <p class="text-3xl md:text-xl lg:text-base font-sans mt-3">Des experts pour vous accompagner dans vos projets</p>
          <a href="<%= directory_artisans_path %>" class="text-3xl md:text-xl lg:text-base font-bold font-sans text-green hover:text-orange">Découvrir</a>
      </div>
  </div>
</div>
