<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1679515250/HdA/AtelierKruttt_ef9zsh.jpg);">
  <div class="container">
    <h1>Histoires d'Artisans</h1>
    <p>L'association qui revalorise le savoir-faire manuel et intellectuel des artisans d’art.</p>
    <a class="btn btn-green" href="#">En savoir plus</a>
  </div>
</div>

<div id="home" class="container mt-3">
  <div class="home-grid">
    <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1679585077/HdA/FoteiniPangos_1_xvb2ov.jpg" alt="Atelier de Foteini Pangos" class="home-image">
    <a href="#0" class="home_title">Le podcast</a>
  </div>

  <div class="home-grid">
    <a href="#0" class="home_title">Nous soutenir</a>
    <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1679584584/HdA/support_eyurup.jpg" alt="Atelier Studio Desrosiers"class="home-image">
  </div class="home-grid">

  <div class="home-grid">
    <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1679911238/AtelierDablanc_bx4ocu.jpg" alt="Atelier de Foteini Pangos"class="home-image">
    <a href="#0" class="home_title">Le blog</a>
  </div>

  <div class="home-grid">
    <a href="#0" class="home_title">Le répertoire des artisans</a>
    <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1679584996/HdA/FoteiniPangos_3_sq59au.jpg" alt="Atelier de Foteini Pangos"class="home-image">
  </div>

  <div class="home-grid">
    <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1679584997/HdA/FoteiniPangos_2_btpanz.jpg" alt="Atelier de Foteini Pangos"class="home-image">
    <a href="#0" class="home_title">Nos actualités</a>
  </div>
