
<div class='lg:px-28 px-2 mx-auto'>

    <%# Mentions légales %>
    <h1 class=" mb-3">Mentions légales</h1>

    <%# Nom de l'association %>
    <h2 class=" mb-1">Nom de l'association</h2>
    <p class=" mb-3"> Histoires d'Artisans </p>

    <%# Siège social %>
    <h2 class=" mb-1">Siège social</h2>
    <p class=" mb-3">174 AV COLONEL FABIEN 93230 ROMAINVILLE</p>

    <%# Numéro SIRET %>
    <h2 class=" mb-1">Numéro SIRET</h2>
    <p class=" mb-3">88253758200026</p>

    <%# Coordonnées de contact %>
    <h2 class=" mb-1">Coordonnées de contact</h2>
    <p class=" mb-3">Lisa Millet, contact@histoiresdartisans.com</p>

    <%# Nom du représentant légal %>
    <h2 class=" mb-1">Nom du représentant légal</h2>
    <p class=" mb-3">Lisa Millet, présidente.</p>

    <%# Directeur de la publication %>
    <h2 class=" mb-1">Directeur de la publication</h2>
    <p class=" mb-3">Lisa Millet.</p>

    <%# Hébergeur du site %>
    <h2 class=" mb-1">Hébergeur du site</h2>
    <p class=" mb-3">Namecheap, Inc. 4600 East Washington Street Suite 305 Phoenix, AZ 85034 USA E-mail : support@namecheap.com</p>

    <%# Propriété intellectuelle %>
    <h2 class=" mb-1">Propriété intellectuelle</h2>
    <p class=" mb-3">Tous droits de reproduction, d’adaptation et de traduction, intégrale ou partielle réservés pour tous pays. L’auteur est seul propriétaire des droits et responsable du contenu de ce site. Le Code de la propriété intellectuelle interdit les copies ou reproductions destinées à une utilisation collective. Toute représentation ou reproduction intégrale ou partielle faite par quelque procédé que ce soit, sans le consentement de l’auteur ou de ses ayant droit ou ayant cause, est illicite et constitue une contrefaçon, aux termes des articles L.335-2 et suivants du Code de la propriété intellectuelle.</p>

    <%# Numéro de déclaration d'association %>
    <h2 class=" mb-1">Numéro de déclaration d'association</h2>
    <p class=" mb-3">W751256062</p>

    <%# Numéro de déclaration d'association %>
    <h2 class=" mb-1">Liens externes</h2>
    <p class=" mb-3">Nous déclinons toute responsabilité quant au contenu des sites web vers lesquels des liens peuvent renvoyer depuis notre site.</p>
 </div>
