<div class="w-full bg-cover h-72 lg:h-128 bg-center" style="background-image: url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1679515250/HdA/AtelierKruttt_ef9zsh.jpg);">
    <div class="flex items-center bg-blend-darken justify-center h-full w-full bg-beige bg-opacity-50">
        <div class="text-center">
            <h1 class="text-green text-6xl md:text-4xl lg:text-2xl font-monospace lg:text-3xl font-bold uppercase ">Histoires d'Artisans</h1>
        </div>
    </div>
</div>

<iframe
  width="540"
  height="305"
  src="https://96f4e43d.sibforms.com/serve/MUIEAMbUrSfX83OGhW-LQmj36IHcNt8lCE1g8lm-_V_XejZq8z9upWCazLEZ4d2SBiuPbBQlhO0pctRykLohJlwADfdjeM5trD7KrqWaydLCL9KZ60l9nWXaUe7wRH_MnhE6uRX8A8NNs756pX5Kbk86P0xKivjIZsd1MCeNiPBwK3RmuXbXv4QB-8e12ev1ozrfkIW3dh5kV5R4"
  frameborder="0"
  scrolling="auto"
  allowfullscreen
  style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;">
</iframe>
