<div class="w-full bg-cover h-128 bg-center" style="background-image: url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1679515250/HdA/AtelierKruttt_ef9zsh.jpg);">
    <div class="flex items-center bg-blend-darken justify-center h-full w-full bg-beige bg-opacity-50">
        <div class="text-center">
            <h1 class="text-green text-6xl font-monospace lg:text-3xl font-bold uppercase">S'abonner à la newsletter</h1>
        </div>
    </div>
</div>

<iframe
  width="600"
  height="900"
  src="https://96f4e43d.sibforms.com/serve/MUIEAGh2wOfqTGOg8rytxD3bCQHU6us8nYInWkt3yBUfI6MrqXo_51g7TyAK7Oydlh58pNvuT_gii4500g36IWFPRc2v0eouwOkLPfLfc1-cnXqHZE6NFEtg01yUqAiRF27EjvvHcDb3CaDot9oJ-aAOeIA7_L4ejfYxRrKOj7lJd2bI_fS7ODGHbEixCQ7lpyBPvPLfggTa8ISA"
  frameborder="0"
  scrolling="no"
  allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;">
</iframe>
