<div class="w-full bg-cover h-128 bg-center" style="background-image: url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1683887169/HdA/MaisonAlivon_MarionSaussier_1_rfdbx2.jpg);">
    <div class="flex items-center justify-center h-full w-full bg-beige bg-opacity-80">
        <div class="text-center lg:px-28 px-2 mx-auto">
            <h1 class=" max-w-5xl mx-auto">
              Les partenariats de l'association Histoires d'Artisans
            </h1>
        </div>
    </div>
</div>
</strong>
<div class="lg:px-28 px-8 mx-auto my-3">
  <div class="my-3">
    <h2 class=" my-6">Nous valorisons l'artisan d'art comme expert en matériaux</h2>
    <p class=" my-3">
      Chez Histoires d'Artisans, nous croyons fermement que la <strong>collaboration est au cœur de l'innovation et de la préservation des métiers d'art</strong>. C'est pourquoi nous sommes fiers de vous présenter les acteurs qui, chaque jour, contribuent à faire de notre mission une réalité.
    </p>
    <p class=" my-3">
      Nos partenaires jouent un rôle crucial en soutenant notre engagement à <strong>valoriser l'expertise des artisans d'art</strong>, en reconnaissant le rôle central qu'ils occupent dans le monde de la création. Ensemble, nous formons une communauté passionnée qui croit en la puissance de l'ingénierie artisanale, en la richesse des matériaux, et en la diversité des expressions artistiques.
    </p>
    <p class=" my-3">
      Que ce soit par le biais de collaborations créatives, de <strong>projets de recherche et développement</strong>, ou de soutien financier, nos partenaires sont des <strong>piliers fondamentaux de notre action</strong>. Leur contribution active renforce notre capacité à mettre en lumière les talents, à encourager l'innovation et à préserver les traditions artisanales.
    </p>
    <p class=" my-3">
      Nous sommes reconnaissants envers chacun de nos partenaires pour leur engagement continu à nos côtés. Ensemble, nous façonnons un <strong>avenir où l'artisanat d'art est célébré, soutenu et perpétué</strong>.
    </p>
    <p class=" my-3">
      Découvrez les entreprises, organisations et individus qui font partie intégrante de la <strong>famille Histoires d'Artisans</strong> et qui partagent notre passion pour l'excellence artisanale.
    </p>

  </div>

  <div class="align-center">
    <div class="">
      <div class="mb-8 w-full h-[200px] align-center">
        <a href="https://www.histoiresdartisans.com/blog/l-outil-en-main-france-et-histoires-d-artisans-s-associent-pour-sensibiliser-aux-metiers-d-art">
          <img class="h-full mx-auto" src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1693579040/HdA/Partenaires/L%27Outil%20en%20Main/Logo_A4_-_L_OeM_-_fond_transp-_25_sept_2017_ad0d0u.png" alt="Logo L'Outil en Main France" />
        </a>
      </div>
      <div class="mb-8 w-full h-[100px] align-center">
        <a href="https://www.histoiresdartisans.com/blog/histoires-d-artisans-et-le-centre-international-du-vitrail-une-alliance-pour-la-transmission-l-innovation-et-les-savoir-faire">
          <img class="mx-auto" src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1684146172/HdA/Partenaires/CIV/LogoCIV_k0u2x7.jpg" alt="Logo Centre International du Vitrail" alt="Logo Centre International du Vitrail" />
        </a>
      </div>
    </div>
  </div>
</div>
