<div class="w-full h-72 lg:h-128 bg-cover bg-center" style="background-image: url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1683887169/HdA/MaisonAlivon_MarionSaussier_1_rfdbx2.jpg);">
    <div class="flex items-center justify-center h-full w-full bg-beige bg-opacity-50">
        <div class="text-center">
            <h1 class="text-green text-6xl md:text-4xl lg:text-2xl font-monospace lg:text-3xl font-bold uppercase ">Partenariats</h1>
        </div>
    </div>
</div>

<div class=' lg:px-12 px-6 mx-auto'>
  <h2 class="text-6xl md:text-4xl lg:text-2xl font-bold font-monospace text-green">Découvrez nos partenaires</h2>
  <p class="text-3xl md:text-xl lg:text-base font-sans mt-3">Histoires d'Artisans remercie l'ensemble de ses partenaires qui contribuent chaque jour à faire de notre mission une réalité</p>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-3 justify-items-center">
    <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1684146172/HdA/Partenaires/LogoCIV_k0u2x7.jpg" alt="Logo Centre International du Vitrail">
  </div>

</div>
