<div class="w-full bg-cover h-128 bg-center" style="background-image: url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1683887169/HdA/MaisonAlivon_MarionSaussier_1_rfdbx2.jpg);">
    <div class="flex items-center justify-center h-full w-full bg-beige bg-opacity-80">
        <div class="text-center lg:px-28 px-2 mx-auto">
            <h1 class="max-w-5xl mx-auto">
              Les partenariats de l'association Histoires d'Artisans
            </h1>
        </div>
    </div>
</div>

<div class="lg:px-28 p-2 mx-auto">
  <div class="align-center">
    <div class="grid grid-cols-1 md:grid-cols-2">
      <div class="text-center lg:text-right px-4">
        <h2 class="text-6xl lg:text-2xl font-bold font-monospace text-green">Découvrez nos partenaires</h2>
        <p class="text-4xl lg:text-base font-sans my-3">Histoires d'Artisans remercie l'ensemble de ses partenaires qui contribuent chaque jour à faire de notre mission une réalité</p>
      </div>

      <div class="grid grid-cols-2">
        <div class="mb-8 w-full h-[100px] align-center">
          <%= link_to civ_path do %>
            <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1684146172/HdA/Partenaires/CIV/LogoCIV_k0u2x7.jpg" alt="Logo Centre International du Vitrail" class="mx-auto">
          <% end %>
        </div>
        <div class="mb-8 w-full h-[100px] align-center">
          <%= link_to loem_path do %>
            <img src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1693579040/HdA/Partenaires/L%27Outil%20en%20Main/Logo_A4_-_L_OeM_-_fond_transp-_25_sept_2017_ad0d0u.png" alt="Logo L'Outil en Main France" class="h-full mx-auto">
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
