<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1679585077/HdA/FoteiniPangos_1_xvb2ov.jpg);">
  <div class="container">
    <h1>Le podcast</h1>
  </div>
</div>

<div class='container'>
  <div><h2>Ecoutez les épisodes sur votre plateforme de streaming préférée</h2>
    <div class='plateform-links'>
      <a href="https://podcasts.apple.com/us/podcast/id1470377428"><i class="fa-brands fa-apple"></i></a>
      <a href="https://open.spotify.com/show/7Fikai8kPihmYe35AJD1Bh"><i class="fa-brands fa-spotify"></i></a>
      <a href="https://www.deezer.com/show/392822"><i class="fa-brands fa-deezer"></i></a>
      <a href="https://music.amazon.com/podcasts/471df6bb-4462-4deb-a1fd-dcd941819ef9"><i class="fa-brands fa-amazon"></i></a>
      <a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9mZWVkLmF1c2hhLmNvL3lYTGdxQ1hZN0Q1eg%3D%3D"><i class="fa-brands fa-google"></i></a>
    </div>
  </div>
  <div>
    <h2>Découvrez les derniers épisodes</h2>
    <iframe name="Ausha Podcast Player" frameborder="0" loading="lazy" id="ausha-MQoK" height="500" style="border: none; width:100%; height:500px" src="https://player.ausha.co/index.html?showId=yXLgqCXY7D5z&display=horizontal&color=%2300594F&multishow=true&playlist=true&v=3&playerId=ausha-MQoK"></iframe><script src="https://player.ausha.co/ausha-player.js"></script>
  </div>
</div>
