<div class="w-full bg-cover h-72 lg:h-128 bg-center" style="background-image: url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1679911238/HdA/AtelierDablanc_bx4ocu.jpg);">
    <div class="flex items-center justify-center h-full w-full bg-beige bg-opacity-50">
        <div class="text-center">
            <h1 class="text-green text-6xl md:text-4xl lg:text-2xl font-monospace lg:text-3xl font-bold">Nous soutenir</h1>
        </div>
    </div>
</div>

<div class="lg:px-12 px-4 mx-auto my-4">
  <h2 class="text-center text-6xl md:text-4xl lg:text-2xl font-bold font-monospace text-green">Faites un don à l'association</h2>
    <a
      href="https://www.helloasso.com/associations/histoires-d-artisans/formulaires/1"
      target="_blank"
      class="block lg:hidden rounded-sm bg-orange hover:bg-green hover:text-beige text-beige font-bold my-6 mx-60 text-3xl lg:text-base font-sans text-center py-2 px-4">
      Faire un don
    </a>
  <div class="hidden lg:block">
    <iframe id="haWidget" allowtransparency="true" scrolling="yes" src="https://www.helloasso.com/associations/histoires-d-artisans/formulaires/1/widget" style="width: 100%; height: 750px; border: none;"></iframe>
  </div>
</div>
