<div class="w-full bg-cover h-128 bg-center" style="background-image: url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1679911238/HdA/AtelierDablanc_bx4ocu.jpg);">
    <div class="flex items-center justify-center h-full w-full bg-beige bg-opacity-50">
        <div class="text-center">
            <h1 class="text-green text-6xl font-monospace lg:text-3xl font-bold uppercase">Nous soutenir</h1>
        </div>
    </div>
</div>

<div class='lg:px-28 px-2 mx-auto my-3'>
  <h2 class="text-center text-6xl lg:text-2xl font-bold font-monospace text-green">Faites un don à l'association</h2>
    <p class ="text-3xl lg:text-base font-sans mt-3">Grâce à votre soutien, Histoires d'Artisans pourra mener à bien l'ensemble de ses <strong>projets</strong> définis pour remplir ses missions :</p>
    <ul class="list-inside list-disc">
      <li class="text-green text-3xl lg:text-base font-sans my-3">
        <strong>Sensibiliser</strong> les entreprises au rôle majeur de l’artisan d’art dans l’innovation.
      </li>
      <li class="text-green text-3xl lg:text-base font-sans my-3">
        <strong>Accompagner</strong> les artisans d’art dans la valorisation financière de leurs recherches.
      </li>
    </ul>
    <p class ="text-3xl lg:text-base font-sans mt-3">Merci de croire en nous !</p>
    <a
      href="https://www.helloasso.com/associations/histoires-d-artisans/formulaires/1"
      target="_blank"
      class="block lg:hidden rounded-sm bg-orange hover:bg-green hover:text-beige text-beige font-bold my-6 text-3xl lg:text-base font-sans text-center py-2 px-4">
      Faire un don
    </a>
  <div class="hidden lg:block">
    <iframe id="haWidget" allowtransparency="true" scrolling="yes" src="https://www.helloasso.com/associations/histoires-d-artisans/formulaires/1/widget" style="width: 100%; height: 750px; border: none;"></iframe>
  </div>
</div>
