<div class="w-full bg-cover bg-center h-72 lg:h-128" style="background-image: url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1684153958/HdA/MaisonAlivon_MarionSaussier_2_2_ax1kqg.jpg);">
    <div class="flex items-center justify-center h-full w-full bg-beige bg-opacity-50">
        <div class="text-center">
            <h1 class="text-green text-6xl font-monospace lg:text-3xl font-bold uppercase">Les visites d'ateliers</h1>
        </div>
    </div>
</div>

<div class='lg:px-28 px-2 mx-auto my-3'>
  <div class="grid grid-cols-1 items-center justify-between lg:flex lg:flex-row h-full">
    <div class="w-2/3">
      <h2 class="my-4 text-6xl lg:text-2xl font-bold font-monospace text-green">Entrez dans l'atelier d'un artisan d'art</h2>
      <p class="text-3xl lg:text-base font-sans my-6">
        Histoires d'Artisans organise pour vos équipes ou vos clients des visites d'ateliers d'artisans d'art. Rencontrez ces femmes et hommes qui
        ont fait de la création leur quotidien. Immergez-vous dans un monde où le beau et l'expertise sont les maîtres mots.
      </p>

      <p class="text-3xl lg:text-base font-sans my-6">
        Restez inspirés.
      </p>
      <p class="text-3xl lg:text-base font-sans my-6">
        Les ateliers d'artisans d'art peuvent à la fois être sources d'inspirations pour vos équipes ou d'émerveillement pour vos clients.
        Grâce à cette expérience unique, partez à la découverte des 281 métiers d'art passionnants qui reflètent l'excellence
        et le savoir-faire français. Laissez-vous emporter par ces artisans d'art talentueux, prêts à ouvrir leurs portes
        et partager leur passion avec vous.
      </p>
      <p class="text-3xl lg:text-base font-sans my-6">
        Nous souhaitons vous offrir une expérience mémorable, que ce soit en termes d'inspiration ou d'émerveillement.
        Lors de ces visites, vous pourrez observer de près les techniques traditionnelles ou plus contemporaines,
        admirer des créations uniques et même échanger avec les artisans pour comprendre leur parcours et leurs motivations.
      </p>
      <p class="text-3xl lg:text-base font-sans my-6">
        Nous proposons ces visites d'ateliers dans toute la France. Que vous soyez une entreprise, une agence événementielle
        ou un professionnel du secteur de l'art, nous sommes là pour vous accompagner dans l'organisation
        de moments extraordinaires au sein d'ateliers d'artisans d'art.
      </p>
      <p class="text-3xl lg:text-base font-sans my-6">
        Faites vivre à votre équipe ou à vos clients une expérience authentique et inspirante.
        Découvrez l'artisanat d'art français dans toute sa splendeur avec Histoires d'Artisans.
      </p>
      <a class="font-bold text-3xl lg:text-base font-sans mt-3 text-green hover:text-orange" href="mailto:entreprise@histoiresdartisans.com">Contactez-nous pour en savoir plus</a>
    </div>
    <div class="w-1/3 ">
    <img
      src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1684524393/HdA/LisaMillet_HistoiresDartisans_ValerieTanfin_40_bdkmj6.jpg"
      alt="Atelier Valérie Tanfin"
      class="max-h-full object-cover">
    </div>
  </div>
</div>
