<div class="w-full bg-cover bg-center h-72 lg:h-128" style="background-image: url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1684153958/HdA/MaisonAlivon_MarionSaussier_2_2_ax1kqg.jpg);">
    <div class="flex items-center justify-center h-full w-full bg-beige bg-opacity-50">
        <div class="text-center">
            <h1 class="text-green text-6xl font-monospace lg:text-3xl font-bold uppercase">Les visites d'ateliers</h1>
        </div>
    </div>
</div>

