<div class="w-full bg-cover bg-center h-128" style="background-image: url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1684153958/HdA/MaisonAlivon_MarionSaussier_2_2_ax1kqg.jpg);">
    <div class="flex items-center justify-center h-full w-full bg-beige bg-opacity-50">
        <div class="text-center">
            <h1 class="">Les Masterclass d'artisans</h1>
        </div>
    </div>
</div>

<div class='lg:px-28 px-8 mx-auto my-3'>
  <div class="grid grid-cols-1 items-center justify-between lg:flex lg:flex-row h-full">
    <div class="lg:w-2/3">
      <h2 class="my-4 ">Découvrez l'excellence de l'artisanat d'art français</h2>
      <p class=" my-6">
        Histoires d'Artisans organise pour vos équipes ou vos clients des Masterclass d'artisans d'art.
        Entrez dans l'artisanat français, où la création devient une expérience immersive.
      </p>

      <p class=" my-6">
        Nos Masterclass offrent une opportunité unique de rencontrer des artisans passionnés qui façonnent le quotidien avec expertise et créativité.
      </p>
      <img
      src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1684524393/HdA/LisaMillet_HistoiresDartisans_ValerieTanfin_40_bdkmj6.jpg"
      alt="Atelier Valérie Tanfin"
      class="lg:hidden h-128 object-top w-full object-cover">
      <h3 class=" my-6">
        Pourquoi Opter pour nos Masterclass ?
      </h3>
      <p class=" my-6">
        <strong>Inspiration au qotidien :</strong> Transformez vos événements en expériences mémorables. Nos Masterclass
        allient savoir-faire traditionnel et techniques contemporaines, offrant une source constante
        d'inspiration pour vos équipes et d'émerveillement pour vos clients.
      </p>
      <p class=" my-6">
        <strong>Exploration de l'artisanat français :</strong> partez à la découverte des 281 métiers d'art qui incarnent
        l'excellence et le savoir-faire français. Rencontrez des artisans prêts à partager leurs passions,
        ouvrant ainsi une fenêtre sur le riche patrimoine artisanal français.
      </p>
      <p class=" my-6">
        <strong>Échange et partage :</strong> nos Masterclass ne sont pas seulement des démonstrations, mais des moments
        d'échanges authentiques. Discutez avec les artisans, comprenez leurs parcours, et
        laissez-vous immerger dans leur univers créatif.
      </p>
      <p class=" my-6">
        Nos Masterclass suivent le modèle des classes d'experts', l'artisan d'art partage son expertise
        et propose une expérience interactive. Ces sessions sont conçues pour stimuler la connaissance,
        favoriser l'échange d'idées et inspirer des perspectives nouvelles.
      </p>
      <h3 class=" my-6">
        Organisez une Masterclass pour votre Entreprise ou événement
      </h3>
      <p class=" my-6">
        Que vous soyez une entreprise, une agence événementielle, ou un professionnel du secteur artistique,
        Histoires d'Artisans est là pour vous accompagner dans la création de moments extraordinaires.
        Nos Masterclass d'artisans sont disponibles dans toute la France, offrant ainsi une expérience
        authentique et inspirante à votre équipe ou à vos clients.
      </p>
      <a class="lg:block font-bold  mt-3 text-green hover:text-orange"
      href="mailto:entreprise@histoiresdartisans.com">
      Rencontrez l'expertise de l'artisanat d'art français. Contactez-nous pour organiser votre Masterclass.</a>
    </div>
    <div class="hidden lg:block lg:w-1/3">
    <img
      src="https://res.cloudinary.com/dvuyabyaw/image/upload/v1684524393/HdA/LisaMillet_HistoiresDartisans_ValerieTanfin_40_bdkmj6.jpg"
      alt="Atelier Valérie Tanfin"
      class="max-h-full object-cover">
    </div>
  </div>
</div>
