<%# BANNER %>
<div class="w-full bg-cover bg-center h-128" style="background-image: url(<%= image_path 'AtelierKruttt.jpg' %>);">
    <div class="flex items-center justify-center h-full w-full bg-beige bg-opacity-50">
        <div class="text-center">
            <h1 class="text-green text-6xl font-monospace lg:text-3xl font-bold uppercase">Nos livres blancs</h1>
        </div>
    </div>
</div>

<%# CARDS CONTAINER%>
<div class="w-full mt-8 flex flex-col justify-center items-center gap-[2em]"
      data-controller="form-prospect">
  <%= render 'card_white_book', prospect: @prospect,
                                templateID: 1,
                                title: 'Lorem Ipsum',
                                summary: 'Ipsum eu nostrud nisi do consequat consequat deserunt incididunt duis ipsum aute incididunt. Non ut mollit do exercitation labore eiusmod magna deserunt ea veniam esse velit. Exercitation tempor occaecat ipsum tempor veniam officia. Veniam tempor in est dolore Lorem labore et deserunt incididunt.' %>
  <%= render 'card_white_book', prospect: @prospect,
                                templateID: 2,
                                title: 'Lorem Ipsum',
                                summary: 'Ipsum eu nostrud nisi do consequat consequat deserunt incididunt duis ipsum aute incididunt. Non ut mollit do exercitation labore eiusmod magna deserunt ea veniam esse velit. Exercitation tempor occaecat ipsum tempor veniam officia. Veniam tempor in est dolore Lorem labore et deserunt incididunt.' %>
  <%= render 'card_white_book', prospect: @prospect,
                                templateID: 3,
                                title: 'Lorem Ipsum',
                                summary: 'Ipsum eu nostrud nisi do consequat consequat deserunt incididunt duis ipsum aute incididunt. Non ut mollit do exercitation labore eiusmod magna deserunt ea veniam esse velit. Exercitation tempor occaecat ipsum tempor veniam officia. Veniam tempor in est dolore Lorem labore et deserunt incididunt.' %>

</div>
