<%# BANNER %>
<div class="w-full bg-cover bg-center h-128" style="background-image: url(<%= image_path 'AtelierKruttt.jpg' %>);">
    <div class="flex items-center justify-center h-full w-full bg-beige bg-opacity-50">
        <div class="text-center">
            <h1 class="text-green text-6xl font-monospace lg:text-3xl font-bold uppercase">Nos livres blancs</h1>
        </div>
    </div>
</div>

<%# CARDS CONTAINER%>
<div class="w-full mt-8 flex flex-col justify-center items-center gap-[2em]"
      data-controller="form-prospect">
  <%= render 'card_white_book', prospect: @prospect,
                                white_book: {
                                  template_mail_id: 1,
                                  title: 'Les Matériaux Précieux',
                                  summary: 'Ipsum eu nostrud nisi do consequat consequat deserunt incididunt duis ipsum aute incididunt. Non ut mollit do exercitation labore eiusmod magna deserunt ea veniam esse velit.'
                                } %>
</div>
