<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1679585077/HdA/FoteiniPangos_1_xvb2ov.jpg);">
  <div class="container">
    <h1>Contactez-nous</h1>
  </div>
</div>

<div class="row justify-content-center mt-3">
  <div class='col-6'>
    <div class="mb-3">
      <h2>Artisans</h2>
      <a href="mailto:artisan@histoiresdartisans.com">artisan@histoiresdartisans.com</a>
    </div>

    <div class="mb-3">
      <h2>Presse</h2>
      <a href="mailto:presse@histoiresdartisans.com">presse@histoiresdartisans.com</a>
    </div>

    <div class="mb-3">
      <h2>Partenariats</h2>
      <a href="mailto:partenariat@histoiresdartisans.com">partenariat@histoiresdartisans.com</a>
    </div>

    <div class="mb-3">
      <h2>Pour toutes autres questions :</h2>
      <a href="mailto:contact@histoiresdartisans.com">contact@histoiresdartisans.com</a>
    </div>

  </div>
</div>
