<div class="w-full bg-cover h-72 lg:h-128 bg-center" style="background-image: url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1679585077/HdA/FoteiniPangos_1_xvb2ov.jpg);">
    <div class="flex items-center justify-center h-full w-full bg-beige bg-opacity-50">
        <div class="text-center">
            <h1 class="text-green text-6xl md:text-4xl lg:text-2xl font-monospace lg:text-3xl font-bold uppercase ">Contactez-nous</h1>
        </div>
    </div>
</div>

<div class="lg:px-12 px-4 mx-auto my-4">
  <h2 class="text-center text-6xl md:text-4xl lg:text-2xl font-bold font-monospace text-green">Une envie ? Une question ?</h2>
  <div class='grid grid-col-1'>
    <div class="mb-3">
      <h2 class="text-6xl md:text-4xl lg:text-2xl font-bold font-monospace text-green">Artisans</h2>
      <a class="font-bold text-3xl lg:text-base font-sans mt-3 text-green hover:text-orange" href="mailto:artisan@histoiresdartisans.com">artisan@histoiresdartisans.com</a>
    </div>

    <div class="mb-3">
      <h2 class="text-6xl md:text-4xl lg:text-2xl font-bold font-monospace text-green">Presse</h2>
      <a class="font-bold text-3xl lg:text-base font-sans mt-3 text-green hover:text-orange" href="mailto:presse@histoiresdartisans.com">presse@histoiresdartisans.com</a>
    </div>

    <div class="mb-3">
      <h2 class="text-6xl md:text-4xl lg:text-2xl font-bold font-monospace text-green">Partenariats</h2>
      <a class="font-bold text-3xl lg:text-base font-sans mt-3 text-green hover:text-orange" href="mailto:partenariat@histoiresdartisans.com">partenariat@histoiresdartisans.com</a>
    </div>

    <div class="mb-3">
      <h2 class="text-6xl md:text-4xl lg:text-2xl font-bold font-monospace text-green">Pour toutes autres questions :</h2>
      <a class="font-bold text-3xl lg:text-base font-sans mt-3 text-green hover:text-orange" href="mailto:contact@histoiresdartisans.com">contact@histoiresdartisans.com</a>
    </div>

  </div>
</div>
