<div class="w-full bg-cover bg-center" style="height:32rem; background-image: url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1679585077/HdA/FoteiniPangos_1_xvb2ov.jpg);">
    <div class="flex items-center justify-center h-full w-full bg-gray-900 bg-opacity-50">
        <div class="text-center">
            <h1 class="text-beige text-2xl font-monospace md:text-3xl">Contactez-nous</h1>
        </div>
    </div>
</div>

<div class="container md:px-12 mx-auto"">
  <h2 class="my-4 font-monospace text-2xl">Une envie ? Une question ?</h2>
  <div class='col-6'>
    <div class="mb-3">
      <h2>Artisans</h2>
      <a href="mailto:artisan@histoiresdartisans.com">artisan@histoiresdartisans.com</a>
    </div>

    <div class="mb-3">
      <h2>Presse</h2>
      <a href="mailto:presse@histoiresdartisans.com">presse@histoiresdartisans.com</a>
    </div>

    <div class="mb-3">
      <h2>Partenariats</h2>
      <a href="mailto:partenariat@histoiresdartisans.com">partenariat@histoiresdartisans.com</a>
    </div>

    <div class="mb-3">
      <h2>Pour toutes autres questions :</h2>
      <a href="mailto:contact@histoiresdartisans.com">contact@histoiresdartisans.com</a>
    </div>

  </div>
</div>
