<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dvuyabyaw/image/upload/v1679585077/HdA/FoteiniPangos_1_xvb2ov.jpg);">
  <div class="container">
    <h1>Contactez-nous</h1>
    <p>Une envie ? Une idée ? Une question ?</p>
  </div>
</div>

<div class='container'>
    <h1>Le message a bien été envoyé</h1>
    <p>Nous reviendrons vers vous rapidement. En attendant, nous vous invitons à écouter notre <%= link_to 'podcast', podcast_path %> et à nous suivre sur les réseaux</p>
</div>
