<div class="container mx-auto mt-8" >
  <h1 class="mb-8">Nouvel article</h1>

  <div class="new-article-form mb-8">
    <%= render "form", post: @post %>
  </div>
  <div>
    <%= link_to "Retourner aux articles", posts_path %>
  </div>
</div>

<script>
    tinymce.init({
    selector: 'textarea',
    plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
  });
</script>
