<div class="container mx-auto mt-8">

  <%# links readable if a user is signed in with Devise %>
  <% if user_signed_in? %>
    <%= link_to "Retourner aux articles", posts_path, class:"ms-4" %>
    <%= link_to edit_post_path(@post), class: "text-orange ms-4" do %>
      <i class="fa-regular fa-pen-to-square"></i> Editer le post
    <% end %>
    <%= link_to post_path(@post), class: "text-red ms-4", data: { turbo_method: :delete,turbo_confirm: "Are you sure?" } do %>
      <i class="fa-regular fa-trash-can"></i>Supprimer le post
    <% end %>
  <% end %>
  <%# <%  %>

  <%= raw @post.content %>
</div>
