.btn-green {
  color: $beige;
  padding: 8px 24px;
  border-radius: $border-radius;
  background: $green;
  opacity: 1;
  transition: background 0.3s ease;
}

.btn-green:hover {
  background: $green;
  color: $beige;
  opacity: 0.15;
}

.btn-orange {
  color: $beige;
  padding: 8px 24px;
  border-radius: $border-radius;
  background: $orange;
  opacity: 1;
  transition: background 0.3s ease;
}

.btn-orange:hover {
  background: $orange;
  color: $beige;
  opacity: 0.15;
}

.btn-beige {
  color: $orange;
  padding: 8px 24px;
  border-radius: $border-radius;
  background: $beige;
  opacity: 1;
  transition: background 0.3s ease;
}

.btn-beige:hover {
  background: $beige;
  color: $orange;
  opacity: 0.15;
}
