// .card-product {
//   overflow: hidden;
//   height: 200px;
//   background: transparent;
//   display: flex;
//   align-items: center;
// }

.card-product-infos {
  h2 {
    font-size: 36px;
    font-weight: $h2-weight;
    color: $green;
  }

  p {
    font-size: 24px;
    font-weight: $p-weight;
    margin-top: 8px;
    color: $green;
  }

  a {
    text-decoration: none;
    color: $orange;
    font-size: 24px;
    font-weight: $h2-weight;
  }

  a:hover {
    color: $green;
  }

}
