.card-product {
  overflow: hidden;
  height: 200px;
  background: transparent;
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  object-fit: cover;
}

.card-product-infos {
  h2 {
<<<<<<< HEAD
    font-size: 36px;
=======
    font-size: 28px;
>>>>>>> 5a8bb62758887eb5b30126476051173f43e07f71
    font-weight: $h2-weight;
    margin: 0;
    color: $green;
  }

  p {
<<<<<<< HEAD
    font-size: 24px;
=======
    font-size: 20px;
>>>>>>> 5a8bb62758887eb5b30126476051173f43e07f71
    font-weight: $p-weight;
    margin-bottom: 0;
    margin-top: 8px;
    color: $green;
  }

  a {
    text-decoration: none;
    color: $orange;
<<<<<<< HEAD
    font-size: 24px;
=======
    font-size: 20px;
>>>>>>> 5a8bb62758887eb5b30126476051173f43e07f71
    font-weight: $h2-weight;
  }

  a:hover {
    color: $green;
  }
<<<<<<< HEAD

=======
>>>>>>> 5a8bb62758887eb5b30126476051173f43e07f71
}
