.card-product {
  overflow: hidden;
  height: 200px;
  background: transparent;
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  object-fit: cover;
}

.card-product-infos {
  h2 {
    font-size: 28px;
    font-weight: $h2-weight;
    margin: 0;
    color: $green;
  }

  p {
    font-size: 20px;
    font-weight: $p-weight;
    margin-bottom: 0;
    margin-top: 8px;
    color: $green;
  }

  a {
    text-decoration: none;
    color: $orange;
    font-size: 20px;
    font-weight: $h2-weight;
  }

  a:hover {
    color: $green;
  }

}
