.footer {
  background: $beige;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: $orange;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: $orange;
  opacity: 1;
  text-decoration: none;
  font-size: $h1-font;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: $green;
}

.footer-copyright {
  font-size: 0.75rem;
  a {
  color: $orange;
  opacity: 1;
  text-decoration: none;
  padding: 0px 1px;
  }
}

.footer-copyright a:hover {
  color: $green;
}
