.navbar-hda .navbar-brand img {
  width: 90px;
}

a {
	color: $orange;
}

nav {
	margin: 0px 0;
	background-color: $beige;
}

nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
	}

nav ul li {
	display:inline-block;
	background-color: $beige;
	}

nav a {
	display:block;
	padding:0 10px;
	color: $orange;
	font-size:$p-font;
	line-height: 60px;
	text-decoration:none;
}

nav a:hover {
	color: $green;
  background-color: $beige;
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute;
	top: 60px; /* the height of the main nav */
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	top:-60px;
	left:170px;
}


/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }
